@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/DMSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url("../fonts/DMSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,
body {
  font-family: "Poppins";
  overflow-x: hidden;
}

.navbar {
  background: #ED573E;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.navbar-toggler {
  outline: none !important;
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}

.img-brand {
  height: 40px;
  width: 180px;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  display: flex !important;
  align-items: center;
  color: #FEFEFE !important;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
  cursor: pointer;
}

.nav-link:after {
  content: "";
  position: absolute;
  height: 4px;
  border-radius: 4px;
  width: 30px;
  left: calc(50% - 15px);
  top: 42px;
  background: #A8E2EF;
  opacity: 0;
}

.link-active .nav-link:after,
.menu-active .nav-link:after,
.menu-temp-active .nav-link:after {
  opacity: 1;
}

.link-active .nav-link:after,
.menu-active .nav-link:after {
  width: 45px;
  left: calc(50% - 22.5px);
}

.nav-sub-menu {
  display: none;
  position: absolute;
  padding-top: 10px;
  left: calc(50% - 106px);
  z-index: 99;
}

.menu-active .nav-sub-menu,
.menu-temp-active .nav-sub-menu {
  display: block;
}

.nav-sub-menu-item-wrapper {
  border-radius: 10px;
  background-color: #E3F4FE;
  padding: 20px 15px;
  width: 212px;
}

.nav-sub-menu-items:not(:last-child) {
  margin-bottom: 5px;
}

.nav-sub-menu-link {
  display: block;
  white-space: nowrap;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.88px;
  text-transform: capitalize;
  padding: 5px 10px;
  color: #FF7A6C;
  text-decoration: none;
  border-left: 3px solid transparent;
}

.sub-menu-link-active .nav-sub-menu-link,
.nav-sub-menu-items:hover .nav-sub-menu-link {
  background: #d6f0ff;
  color: #FF7A6C;
}

.sub-menu-link-active .nav-sub-menu-link {
  border-color: #4952a9;
}

.breadcrumb,
.view-container {
  margin: 25px auto;
  padding: 0 30px !important;
  max-width: 1850px;
  margin-left: auto;
  margin-right: auto;
}

.view-container {
  min-height: 80vh;
}

.breadcrumb-item,
.breadcrumb-item > * {
  color: #464646 !important;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.96px;
  text-transform: capitalize;
  text-decoration: none !important;
}

.breadcrumb-item.active {
  color: #2E5EA3 !important;
  text-decoration: none !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #464646 !important;
  content: var(--bs-breadcrumb-divider, "❯") !important;
}

.page-header-container {
  margin: 20px 0 60px 0;
  display: flex;
  justify-content: space-between;
}

.page-action-container {
  display: flex;
  align-items: center;
}

.page-header {
  color: #1E1E1E;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.page-header-lg {
  font-family: "Poppins";
  text-align: center;
  color: #594959;
  font-size: 80px;
  font-weight: 300;
  letter-spacing: 0.06em;
  margin-top: 40px;
  margin-bottom: 55px;
}
.page-header-lg .header-strong {
  font-weight: 700;
}

.page-header-secondary {
  text-transform: capitalize;
}

.page-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  color: #595959;
  margin-bottom: 130px;
}

.page-action {
  position: relative;
}

.page-action:not(:last-child) {
  margin-right: 25px;
}

.lbl-highlight {
  color: #FF5B40;
}

.lbl-dark {
  color: #1E1E1E;
}

.section-container {
  margin-bottom: 60px;
}

.venue-wrapper {
  max-width: 1362px;
  margin-left: auto;
  margin-right: auto;
}

.venue-container {
  margin-bottom: 80px;
  font-family: "Poppins";
}

.venue-container:nth-child(even) .venue-image-container {
  order: 2;
}
.venue-container:nth-child(even) venue-info-container {
  order: 1;
}
.venue-container:nth-child(even) .img-venue {
  margin-left: auto;
  margin-right: 0;
}

.venue-container:nth-child(odd) .img-venue {
  margin-left: 0;
  margin-right: auto;
}

.img-venue {
  box-shadow: 15px 15px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 514px;
  width: 100%;
  height: 428px;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.venue-header {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #FF5B40;
}

.venue-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #626262;
  margin-bottom: 80px;
}

.service-item-wrapper {
  max-width: 1168px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
}

.service-item-container {
  height: 140px;
}

.service-icon-container {
  margin-bottom: 15px;
  text-align: center;
}

.service-info {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #2E5EA3;
  text-align: center;
}

.search-container .form-control, .filter-container .form-select {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
}

.search-container .form-control:focus, .filter-container .form-select:focus {
  border-color: #7e7e7e;
  box-shadow: 0 0 0 0.25rem rgba(126, 126, 126, 0.2509803922);
}

.search-container .form-control {
  padding: 0.4rem 0.75rem 0.4rem 2.8rem;
  max-width: 300px;
}

.filter-container .form-select {
  padding: 0.4rem 2.75rem 0.4rem 0.75rem !important;
  max-width: 235px;
}

.section-wrapper {
  position: relative;
}

.section-header {
  color: #2E5EA3;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 2.04px;
  text-transform: lowercase;
  margin-bottom: 50px;
  margin-left: 16px;
}

.section-about-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FF5B40;
  margin-bottom: 45px;
}

.about-section-body-sm .section-about-header {
  text-align: center;
  margin-bottom: 70px;
}

.section-about-details-lg, .section-about-details-md {
  font-family: "Poppins";
  font-weight: 400;
  text-align: justify;
  text-transform: capitalize;
  color: #595959;
}

.section-about-details-lg {
  font-size: 26px;
  line-height: 60px;
}

.section-about-details-md {
  font-size: 24px;
  line-height: 42px;
}

.project-section-wrapper {
  margin-bottom: 100px;
}

.project-image-wrapper {
  text-align: center;
}

.img-projects {
  margin-bottom: 30px;
}

.project-section-wrapper:nth-child(even) .project-content-wrapper {
  order: 2;
}
.project-section-wrapper:nth-child(even) .project-image-wrapper {
  order: 1;
}

.section-service-container {
  margin-bottom: 70px;
  font-family: "Poppins";
}

.service-header {
  font-weight: 500;
  font-size: 28px;
  line-height: 46px;
  text-align: justify;
  text-transform: capitalize;
  color: #2E5EA3;
  margin-bottom: 20px;
}

.service-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  text-align: justify;
  text-transform: capitalize;
  color: #595959;
  margin-bottom: 10px;
}

.img-service {
  margin-bottom: 30px;
}

.testimonials-container {
  max-width: 884px;
  width: 100%;
  min-height: 409px;
  background: linear-gradient(102.28deg, #F3FBFF 0.68%, #F8F8F8 99.32%);
  border-radius: 0px 70px;
  text-align: center;
  font-family: "Poppins";
  padding: 70px 115px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-header {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  text-transform: capitalize;
  color: #2E5EA3;
  margin-bottom: 20px;
}

.testimonial-rating {
  text-align: center;
  margin-bottom: 60px;
}

.testimonial-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #595959;
}

.section-team {
  background-color: #FFF6F7;
  border-radius: 8px;
  min-height: 576px;
  font-family: "Poppins";
  padding: 50px 30px;
}

.section-team-header {
  font-weight: 600;
  font-size: 40px;
  line-height: 120px;
  text-transform: capitalize;
  color: #FF5B40;
  text-align: center;
  margin-bottom: 30px;
}

.team-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.team-card {
  max-width: 204px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins";
  text-align: center;
}

.team-card-image-container {
  margin-bottom: 18px;
}

.img-team {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
}

.team-card-body-wrapper {
  padding: 1px;
  background: linear-gradient(to bottom, #D9D9D9, rgba(217, 217, 217, 0));
  border-radius: 28px;
}

.team-card-body {
  height: 104px;
  background: #FAFAFA;
  border-radius: 28px;
  padding: 30px 34px 36px;
}

.team-card-heder {
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #FF5B40;
  margin-bottom: 10px;
}

.team-card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #99A2AB;
}

.swiper {
  width: 600px;
  height: 300px;
}

.img-detils-page {
  background-size: cover;
  background-position: center;
  height: 438px;
  max-width: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.item-price-container {
  margin-bottom: 50px;
}

.item-price {
  color: #710;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 3.6px;
  line-height: 1;
}

.item-price-prefix {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
}

.item-unit-pricing {
  color: #B4B4B4;
  font-size: 22px;
  letter-spacing: 1.56px;
  line-height: 1;
  text-transform: capitalize;
}

.description-collapse-expand {
  margin-bottom: 60px;
}

.item-description-container {
  position: relative;
}

.item-description-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 86px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  transition: 0.2s ease-in-out;
}

.item-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
  height: 86px;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  transition: 0.2s ease-in-out;
}

.view-more {
  display: inline;
}

.view-less {
  display: none;
}

.expand .item-description-container::after, .expand .item-description {
  min-height: 86px;
  height: auto;
  background: transparent;
  transition: 0.2s ease-in-out;
}
.expand .view-more {
  display: none;
}
.expand .view-less {
  display: inline;
}

.description-expand-btn-container {
  margin-top: 20px;
}

.section-form-conatiner {
  background: #FDFDFD;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.section-form {
  padding: 40px 30px;
}

.section-form-conatiner .form-label {
  color: #414141;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.section-form-conatiner .form-control,
.section-form-conatiner .form-select {
  height: 50px;
  border-radius: 8px;
  border: 1px solid #000;
  margin-bottom: 20px;
  color: #AAA;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.96px;
}

.section-end {
  padding-bottom: 150px;
}

.section-hero {
  background: #fff;
}

.hero-header-container {
  text-align: center;
}

.hero-sub-header,
.hero-description {
  color: #7E9589;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  text-align: center;
}

.hero-sub-header {
  color: #7E9589;
  margin: 100px 0 20px;
}

.hero-description {
  color: #656464;
  margin: 20px 0 100px;
}

.section-primary {
  background: #2E5EA3;
}

.section-secondary {
  background: #F9FAFB;
}

.section-alpha {
  background: #FFEAE7;
}

.lead-section-header-container {
  position: relative;
  text-align: center;
  padding: 75px 0;
}

.section-secondary .lead-section-header-container {
  top: -5px;
  background: #f9fafb;
}

.lead-section-header {
  color: #2E5EA3;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 75px 0;
  border-bottom: 5px solid #FFA52F;
}

.section-primary .lead-section-header {
  color: #FFB6D2;
}

.section-secondary .lead-section-header {
  color: #2E5EA3;
}

.section-height {
  min-height: 555px;
}

.section-style-after::after,
.section-style-before::before {
  display: block;
  content: "";
  position: relative;
  height: 11vh;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #F9FAFB;
  pointer-events: none;
}

.after-cover-alpha::after {
  background-color: #ffeae7;
  top: -2px;
}

.section-style-after-none.section-style-after::after {
  content: unset;
}

.section-secondary .section-style-alpha-before::before,
.section-primary .section-style-alpha-before::before {
  background-color: #2E5EA3;
}

.section-primary .section-style-alpha-before::before {
  background-image: url(../images/section-style-after.svg);
  background-color: #2E5EA3;
  top: -8px;
  transform: rotateX(0deg);
  -webkit-clip-path: inset(2px 0 0 0);
          clip-path: inset(2px 0 0 0);
}

.section-beta .section-style-wave-before::before,
.section-secondary .section-style-wave-after::after {
  background-color: #ffeae7;
}

.section-secondary .section-style-alpha-after::after {
  background-color: #FFEAE7;
}

.section-style-alpha-before::before {
  background-image: url(../images/section-style.svg);
  top: -2px;
  transform: rotate(180deg);
}

.section-style-alpha-after::after {
  background-image: url(../images/section-style-after.svg);
  bottom: -2px;
}

.section-style-wave-before::before {
  background-image: url(../images/section-style-wave.svg);
  top: -2px;
  transform: rotate(180deg);
}

.section-style-wave-after::after {
  background-image: url(../images/section-style-wave.svg);
  bottom: 0;
}

.sction-inner {
  max-width: 1870px;
  margin-left: auto;
  margin-right: auto;
}

.primary-card-wrapper,
.secondary-card-wrapper {
  max-width: 1770px;
  margin-left: auto;
  margin-right: auto;
}

.primary-card-container,
.primary-card-container {
  padding-bottom: 1px;
}

.primary-card,
.secondary-card {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.primary-card {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  background: radial-gradient(274.89% 100.91% at 93.75% 5.45%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(21px);
          backdrop-filter: blur(21px);
}

.secondary-card {
  max-width: 335px;
  border-radius: 10px;
  margin: 0 auto 60px auto;
  box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.2);
}

.primary-card-image-container,
.secondary-card-image-container {
  background: #fff;
}

.primary-card-image-container {
  border-radius: 8px 8px 0 0;
}

.secondary-card-image-container {
  border-radius: 10px 10px 0 0;
}

.img-primary-card,
.img-secondary-card {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 425px;
}

.img-secondary-card {
  background-size: cover;
  background-position: center;
}

.secondary-card-md {
  max-width: 346px;
  max-height: 374px;
  height: 22.5vw;
}

.secondary-card-lg {
  max-width: 482px;
  height: 436px;
}

.img-primary-card {
  border-radius: 8px 8px 0 0;
}

.img-secondary-card {
  border-radius: 10px 10px 0 0;
}

.primary-card-details {
  padding: 8px 22px 0;
}

.primary-card-header,
.secondary-card-header {
  font-weight: 500;
  margin-bottom: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.primary-card-header {
  color: #FFAF45;
  font-size: 30px;
  letter-spacing: 1.36px;
  text-transform: capitalize;
}

.secondary-card-header {
  color: #FF5B40;
  font-size: 18px;
  letter-spacing: 1.08px;
  text-transform: capitalize;
  width: 88%;
}

.primary-card-desc, .primary-card-desc > * {
  min-height: 118px;
  color: #FFF !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
  text-transform: capitalize;
  margin-bottom: 5px;
  border-radius: 0 0 8px 8px;
}

.secondary-card-details,
.secondary-card-action {
  height: 104px;
  border-radius: 0 0 10px 10px;
}

.secondary-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
}

.secondary-card-desc {
  color: #9F9F9F;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.primary-card-action,
.secondary-card-action {
  text-align: center;
}

.secondary-card-action {
  display: none;
  background: #FF5B40;
  border-radius: 0 0 10px 10px;
}

.secondary-card:hover .secondary-card-details {
  display: none;
}

.secondary-card:hover .secondary-card-action {
  display: flex;
}

.primary-card-action-link,
.secondary-card-action-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-card-action-link {
  height: 55px;
  color: #ffc3c3;
  text-decoration: none;
  font-weight: 500;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.64px;
  text-transform: capitalize;
}

.secondary-card-action-link {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.primary-card-action-link:hover {
  color: #FFF6A0;
}

.secondary-card-action-link:hover {
  color: #FFF;
}

.milestone-card-container {
  position: relative;
  display: flex;
}

.milestone-card-container::before, .milestone-card-container::after {
  content: "";
  position: absolute;
  height: 4px;
  background: #FFA52F;
  top: 54px;
  width: calc(50% - 54px);
}

.milestone-card-container::before {
  left: 0;
}

.milestone-card-container::after {
  right: 0;
}

.milestone-card-container:first-child::before {
  border-radius: 10px 0 0 10px;
}

.milestone-card-container:last-child::after {
  border-radius: 0 10px 10px 0;
}

.milestone-card {
  text-align: center;
  max-width: 286px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.milestone-card-count-container {
  height: 108px;
  width: 108px;
  background: #CF5D4A;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  margin-bottom: 34px;
}

.lbl-card-count {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.milestone-card-body {
  position: relative;
  background: #FDF3F7;
  padding: 22px 18px 18px;
  border-radius: 10px;
  font-weight: 500;
  height: -webkit-fill-available;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E5EA3;
}

.milestone-card-body::before {
  content: "";
  position: absolute;
  top: -18px;
  left: calc(50% - 18px);
  right: calc(50% - 18px);
}

.milestone-card-body::before {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #FDF3F7;
}

.booking-confirm-page-container {
  min-height: 80vh;
  padding: 60px 0;
}

.booking-confirm-container {
  width: 100%;
  max-width: 782px;
  margin-left: auto;
  margin-right: auto;
  background: #FDFDFD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  margin-bottom: 50px;
}

.booking-confirm-header-container {
  padding: 42px 74px;
  height: 180px;
  display: flex;
  align-items: center;
  gap: 22px;
}

.booking-confirm-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #2E5EA3;
  margin-bottom: 8px;
}

.booking-confirm-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #000000;
}

.lbl-desc-highlight {
  font-weight: 500;
  color: #2E5EA3;
}

.booking-confirm-body-container {
  height: 470px;
}
.booking-confirm-body-container iframe {
  height: 470px;
  width: 100%;
}

.booking-confirm-info-container {
  padding: 70px 74px;
  background: #F8F8F8;
  position: relative;
}

.booking-confirm-info-container::before,
.booking-confirm-info-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

.booking-confirm-info-container::before {
  height: 2px;
  border-radius: 4px;
  background-color: #2E5EA3;
  top: 0;
}

.booking-confirm-info-container::after {
  content: "";
  position: absolute;
  bottom: -10px;
  background-image: url("../icons/section-style-after-repeat.png");
  height: 20px;
  background-repeat: repeat;
}

.booking-confirm-info-wrapper {
  margin-bottom: 42px;
}
.booking-confirm-info-wrapper .info-caption, .booking-confirm-info-wrapper .info-value {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.06em;
}
.booking-confirm-info-wrapper .info-caption {
  font-weight: 500;
  color: #2E5EA3;
}
.booking-confirm-info-wrapper .info-value {
  font-weight: 400;
  color: #303030;
}

.booking-confirm-footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.06em;
  color: #2E5EA3;
  margin-top: 16px;
  text-align: center;
}

.contact-details-container {
  position: relative;
  margin: 30px 170px;
}

.contact-details-card, .contact-details-map iframe {
  width: 100%;
  border-radius: 14px;
}

.contact-details-card, .contact-details-map {
  padding: 0 15px;
}

.contact-details-card {
  height: 730px;
  background: #2E5EA3;
  padding: 55px;
}

.contact-details-map iframe {
  height: 730px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28));
  background: #F7F4FF;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.25);
}

.contact-card-header {
  color: #FCFCFC;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 55px;
}

.contact-details-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 54px;
}

.lbl-contact-item {
  color: #EBEBEB;
  font-size: 20px;
  letter-spacing: 0.8px;
  line-break: anywhere;
}

.section-hero {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-body {
  max-width: 1535px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.about-section-body, .about-section-body-sm {
  max-width: 1400px;
}

.about-section-body {
  margin-bottom: 150px;
}

.about-section-body-sm {
  margin-bottom: 100px;
}

.section-milestone {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;
}

.milestone-header {
  font-weight: 500;
  font-size: 56px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E5EA3;
  margin-bottom: 60px;
}

.secton-image-container {
  text-align: right;
}

.section-secondary .section-content {
  padding: 80px 0;
}

.section-alpha .section-content {
  padding: 40px 0;
}

.section-content-header {
  color: #CF5D4A;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-bottom: 70px;
}

.section-alpha .section-content-header {
  margin-bottom: 50px;
}

.section-content-details {
  display: flex;
  align-items: center;
  color: #595959;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  margin-bottom: 90px;
}

.img-section-content {
  height: 498px;
  max-width: 660px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 15px 15px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.section-alpha .section-content-details {
  margin-bottom: 50px;
}

.privacy-section {
  margin-bottom: 30px;
}

.privacy-section-sm {
  margin-bottom: 20px;
}

.privacy-header-primary {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: #ED573E;
  margin-bottom: 22px;
}

.privacy-header-secondary {
  font-family: "Poppins" !important;
  font-weight: 700;
  font-size: 26px;
  color: #3a3a3a;
}

.privacy-content, .privacy-content > * {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  color: #3b3b3b;
}

.filter-modal .modal-dialog {
  margin: 13.75rem 42px 0 auto;
}
.filter-modal .modal-content {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 40px 30px 60px;
  border: none;
}
.filter-modal .modal-footer {
  border-top: none;
  padding: 0;
}

.filter-header {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  line-height: 50px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #595959;
  padding: 0 !important;
  border-bottom: none;
}

.filter-field-wrapper {
  margin-bottom: 40px;
}

.lbl-filter-input-title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #99A2AB;
  margin-bottom: 30px;
}

.filter-field-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filter-field-container:not(:last-child) {
  margin-bottom: 20px;
}

.form-check-input {
  height: 18px;
  width: 18px;
  margin-top: 0;
}

.form-check-label {
  font-family: "Poppins";
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #4F4F4F;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.lbl-img-sm {
  color: #5F5F5F;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  text-align: center;
}

.lbl-quote {
  color: #FF5B40;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.footer-area {
  background: #4952A9;
  color: #C7DDCF;
  min-height: 15vh;
  overflow-x: hidden;
  padding: 36px;
}

.brand-logo-container {
  margin-bottom: 30px;
}

.lbl-brand-tag {
  color: #FFAF45;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}

.footer-nav-container {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer-header {
  cursor: default !important;
}

.footer-nav-item {
  cursor: pointer;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-nav-link {
  text-decoration: none;
  color: unset;
  color: #C7DDCF;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.08px;
  text-transform: uppercase;
}

a.footer-nav-link:hover {
  color: #FFD7D2;
}

.footer-sub-menu {
  padding: 10px 0 0;
}

.footer-sub-menu-items {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.footer-sub-menu-items .footer-nav-link {
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #FFC9DE;
  text-transform: capitalize;
}

.footer-sub-menu-items:hover {
  color: #fefefe;
}

.footer-links-container {
  display: flex;
}

.footer-links-container {
  margin-bottom: 25px;
}

.lbl-footer-links {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.lbl-social-header {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  margin-bottom: 34px;
}

.social-icon-wrapper {
  display: inline-flex;
  height: 80px;
}

.social-icon-conatiner {
  width: 65px;
}

.social-icons {
  width: 36px;
  height: 36px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background: #fefefe;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  transition: ease-in-out 0.3s;
}

.social-icons:hover {
  width: 44px;
  height: 44px;
}

.lbl-copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.12px;
  text-transform: capitalize;
}

.lbl-bold {
  font-weight: 700;
}

.lbl-semi-bold {
  font-weight: 500;
}

.lbl-regular {
  font-weight: 400;
}

.lbl-uppercase {
  text-transform: uppercase;
}

.btn-icon-only {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.btn-page-action {
  height: 40px;
  width: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px !important;
  background-color: #2E5EA3 !important;
  border-color: #2E5EA3 !important;
  color: #FBFBFB;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.72px;
}

.btn-page-action:hover,
.btn-page-action:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  color: #2E5EA3 !important;
}

.btn-filter-footer {
  width: 134px;
  height: 44px;
  background: #D3D7F9;
  border-radius: 10px;
  font-size: 16px;
  color: #000000;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin: 0;
  transition: 0.3s ease-in-out;
}

.btn-filter-footer:not(:last-child) {
  margin-right: 15px;
}

.btn-apply {
  background: #D3D7F9;
  border: 1px solid #D3D7F9;
}

.btn-apply:hover {
  background: transparent;
  border-color: #828DED;
}

.btn-cancel {
  background: transparent;
  border: transparent;
  text-transform: uppercase;
}

.btn-cancel:hover {
  background: #F8C9C9;
  border-radius: 10px;
  color: #990000;
}

.btn-whatsapp {
  background-color: #25D366;
  width: 65px;
  height: 65px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.primary-action-container .btn-card-action {
  margin-left: auto;
  margin-right: auto;
}

.btn-card-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 60px;
  border: 1px solid transparent;
  text-decoration: none;
  color: #FEFEFE;
}

.btn-card-action:hover {
  border: 1px solid #252525;
  background: linear-gradient(90deg, rgba(140, 140, 140, 0.3294117647) 0%, rgba(255, 216, 189, 0) 100%);
  color: #FEFEFE;
}

.btn-section-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 176px;
  height: 45px;
  border-radius: 4px;
  color: #fefefe;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}

.btn-section-action:hover {
  color: #fefefe;
}

.btn-action-primary {
  background: #2E5EA3;
  border: 1px solid #2E5EA3;
}

.btn-action-primary:hover {
  background: transparent;
  border: 1px solid #2E5EA3;
  color: #FF5B40;
}

.btn-pay {
  width: 306px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.btn-pay:hover {
  background: #2E5EA3;
  color: #fefefe;
}

.btn-action-transparent {
  background: transparent;
  border: none;
  color: #3A6950;
  justify-content: left;
}

.btn-action-highlight {
  color: #FF5B40;
}

.btn-action-transparent:hover {
  background: transparent;
  color: #2E5EA3;
}

.btn-link {
  color: #FF5B40;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.96px;
  text-transform: capitalize;
  text-decoration: none !important;
}

.btn-link:hover {
  text-decoration: none;
  color: #FF5B40 !important;
}

.btn-filter-close {
  height: 30px;
  width: 30px;
  background-color: #F3F4FC;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s ease-in-out;
}

.btn-filter-close:hover {
  background-color: #F03C3C;
}

.img-hero-brand {
  height: 200px;
}

.img-section {
  width: 90%;
}

.about-section-body-sm .img-section,
.about-section-body .img-section {
  border-radius: 8px;
}

.image-container-sm {
  text-align: center;
}

.img-section-gallery {
  width: 85%;
}

.img-footer-brand {
  width: 200px;
}

.img-social-icon {
  width: 84%;
}

.icon-common {
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  display: inline-block;
  /* background-color: #000; */
  vertical-align: middle;
  text-align: center;
  flex-shrink: 0;
}

.icon-nav {
  height: 16px;
  width: 16px;
  background-color: #fefefe;
}

.icon-card-action {
  width: 22px;
  height: 22px;
  background-color: #FFC3C3;
  margin-left: 18px;
}

.secondary-card-action .icon-card-action {
  background-color: #FFf;
}

.icon-page-action {
  width: 24px;
  height: 24px;
  background-color: #646464;
}

.icon-btn-link {
  width: 20px;
  height: 20px;
  background-color: #FF5B40;
}

.expand .icon-btn-link {
  transform: rotateX(180deg);
}

.btn-primary .icon-page-action {
  background-color: #FBFBFB;
  margin-right: 10px;
}

.btn-primary.btn-page-action:hover .icon-page-action,
.btn-primary.btn-page-action:focus .icon-page-action {
  background-color: #2E5EA3 !important;
}

.icon-section-action,
.icon-action-button {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}

.icon-contact-card {
  height: 38px;
  width: 38px;
  background-color: #F4F4F4;
  margin-right: 18px;
}

.btn-action-primary .icon-section-action,
.btn-primary .icon-action-button {
  background-color: #FEFEFE;
}

.btn-action-primary:hover .icon-section-action {
  background-color: #FF5B40;
}

.btn-pay:hover .icon-section-action {
  background-color: #FEFEFE;
}

.btn-action-transparent .icon-section-action {
  background-color: #3A6950;
}

.btn-action-highlight .icon-section-action {
  background-color: #FF5B40;
}

.btn-action-transparent:hover .icon-section-action {
  background-color: #2E5EA3;
}

.icon-card-action,
.icon-section-action,
.btn .icon-arrow-right {
  animation: flicker-reverse 0.4s ease-in-out forwards;
  transform: translate(0, 2px);
}

.primary-card-action-link:hover .icon-card-action {
  background-color: #FFF6A0;
}

.secondary-card-action-link:hover .icon-card-action {
  background-color: #FFF;
}

.primary-card-action-link:hover .icon-card-action,
.secondary-card-action-link:hover .icon-card-action,
.btn-section-action:hover .icon-section-action,
.btn:hover .icon-arrow-right {
  animation: flicker-forward 0.4s ease-in-out forwards;
  transform: translate(4px, 2px);
}

.icon-section-details {
  width: 60px;
  height: 60px;
  background-color: #D4D4D4;
}

.icon-footer-links {
  height: 25px;
  width: 25px;
  background-color: #fefefe;
}

.icon-footer-links:first-child {
  margin-right: 24px;
}

.icon-nav:last-child {
  margin-left: 8px;
}

.icon-filter-close {
  height: 18px;
  width: 18px;
  background-color: #757575;
}

.btn-filter-close:hover .icon-filter-close {
  background-color: #FFF;
}

.icon-float-btn {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  background-color: #FFF;
}

.icon-service-item {
  height: 80px;
  width: 80px;
  background-color: #8C8C8C;
}

.icon-carousel-control {
  width: 3rem;
  height: 3rem;
  background-color: #c3c3c3;
}

.home-carousel-wrapper {
  width: 90%;
  min-height: 655px;
}

.home-carousel .icon-carousel-control {
  width: 6rem;
  height: 6rem;
  background-color: #c3c3c3;
}
.home-carousel .carousel-control-prev {
  left: -12%;
}
.home-carousel .carousel-control-next {
  right: -12%;
}

.icon-chevron,
.icon-chevron-right,
.next-icon,
.prev-icon {
  mask-image: url(../icons/chevron-down.svg);
  -webkit-mask-image: url(../icons/chevron-down.svg);
}

.menu-active .icon-chevron {
  transform: rotateX(180deg);
}

.icon-chevron-right,
.next-icon {
  transform: rotate(-90deg);
}

.icon-chevron-down {
  transform: none;
}

.icon-chevron-up {
  transform: rotate(-180deg);
}

.prev-icon {
  transform: rotate(90deg);
}

.footer-nav-item:hover .icon-chevron-right {
  background-color: #FFD7D2;
}

.menu-active .icon-chevron-right {
  transform: unset;
  background-color: #FFD7D2;
}

.icon-arrow-right {
  mask-image: url(../icons/arrow.svg);
  -webkit-mask-image: url(../icons/arrow.svg);
}

.icon-arrow-down {
  mask-image: url(../icons/arrow-down-short.svg);
  -webkit-mask-image: url(../icons/arrow-down-short.svg);
}

.icon-filter {
  mask-image: url(../icons/filter.svg);
  -webkit-mask-image: url(../icons/filter.svg);
}

.icon-search {
  mask-image: url(../icons/search.svg);
  -webkit-mask-image: url(../icons/search.svg);
}

.search-container .icon-search {
  position: absolute;
  top: 9px;
  left: 10px;
}

.icon-location {
  mask-image: url(../icons/location.svg);
  -webkit-mask-image: url(../icons/location.svg);
}

.icon-email {
  mask-image: url(../icons/envelope.svg);
  -webkit-mask-image: url(../icons/envelope.svg);
}

.icon-telephone {
  mask-image: url(../icons/telephone.svg);
  -webkit-mask-image: url(../icons/telephone.svg);
}

.icon-insta {
  mask-image: url(../images/img-insta.svg);
  -webkit-mask-image: url(../images/img-insta.svg);
}

.icon-cart {
  mask-image: url(../icons/cart.svg);
  -webkit-mask-image: url(../icons/cart.svg);
}

.icon-x {
  mask-image: url(../icons/x.svg);
  -webkit-mask-image: url(../icons/x.svg);
}

.secondary-card-action-link .icon-cart {
  height: 54px;
  width: 54px;
  background-color: #F6F6F6;
}

.icon-whatsapp {
  mask-image: url(../icons/whatsapp.svg);
  -webkit-mask-image: url(../icons/whatsapp.svg);
}

.icon-parking {
  mask-image: url(../icons/parking.svg);
  -webkit-mask-image: url(../icons/parking.svg);
}

.icon-wifi {
  mask-image: url(../icons/wifi-router.svg);
  -webkit-mask-image: url(../icons/wifi-router.svg);
}

.icon-food {
  mask-image: url(../icons/food.svg);
  -webkit-mask-image: url(../icons/food.svg);
}

.icon-music {
  mask-image: url(../icons/guitar.svg);
  -webkit-mask-image: url(../icons/guitar.svg);
}

.icon-customize {
  mask-image: url(../icons/customize.svg);
  -webkit-mask-image: url(../icons/customize.svg);
}

@keyframes flicker-forward {
  0% {
    transform: translate(0, 2px);
  }
  40% {
    transform: translate(5px, 2px);
  }
  60% {
    transform: translate(3px, 2px);
  }
  100% {
    transform: translate(4px, 2px);
  }
}
@keyframes flicker-reverse {
  0% {
    transform: translate(4px, 2px);
  }
  40% {
    transform: translate(-1px, 2px);
  }
  60% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(0, 2px);
  }
}
@media (max-width: 1199px) {
  .primary-card {
    margin-left: auto;
    margin-right: auto;
  }
  .footer-nav-container {
    flex-direction: column;
  }
  .footer-nav-item {
    margin-bottom: 20px;
  }
  .icon-footer-links:first-child {
    margin-right: 10px;
  }
  .breadcrumb,
  .view-container {
    margin: 20px auto;
  }
  .section-form {
    padding: 30px 20px;
  }
  .secondary-card-md {
    height: 24.5vw;
  }
}
@media (min-width: 992px) {
  .navbar {
    height: 75px;
  }
  .navbar > .container-fluid {
    margin-left: 20px;
    margin-right: 80px;
  }
  body {
    overflow: hidden;
  }
  .body-area {
    height: calc(100vh - 75px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media (max-width: 991px) {
  .nav-sub-menu {
    position: unset;
    padding-top: 0;
  }
  .nav-item {
    margin-left: 10px;
  }
  .nav-link:after {
    height: 24px;
    width: 4px !important;
    top: calc(50% - 12px);
    left: -10px !important;
  }
  .nav-sub-menu-item-wrapper {
    background-color: transparent;
  }
  .nav-sub-menu-link {
    color: #e3e5ff;
    font-weight: 400;
  }
  .nav-sub-menu-item-wrapper {
    padding: 0;
  }
  .page-header-container {
    flex-direction: column;
  }
  .page-header {
    margin-bottom: 30px;
  }
  .breadcrumb,
  .view-container {
    margin: 25px auto;
    padding: 0 25px !important;
  }
  .milestone-card-container::before,
  .milestone-card-container::after {
    content: unset;
  }
  .secondary-card-md {
    height: 51.5vw;
  }
  .venue-container:nth-child(even) .img-venue,
  .venue-container:nth-child(odd) .img-venue {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .venue-container:nth-child(even) .venue-image-container {
    order: 1;
  }
  .venue-container:nth-child(even) .venue-info-container {
    order: 2;
  }
  .section-alpha .section-content-container {
    order: 2;
  }
  .section-alpha .section-image-container {
    order: 1;
  }
  .img-section-content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.2);
  }
  .home-carousel .carousel-control-next,
  .home-carousel .carousel-control-prev {
    height: 70px;
    top: calc(25% - 35px);
  }
  .venue-info-container {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
  .service-item-wrapper {
    gap: 120px;
  }
  .project-section-wrapper:nth-child(even) .project-content-wrapper,
  .project-section-wrapper:nth-child(odd) .project-content-wrapper {
    order: 2;
  }
  .project-section-wrapper:nth-child(even) .project-image-wrapper,
  .project-section-wrapper:nth-child(odd) .project-image-wrapper {
    order: 1;
  }
  .service-image-container {
    order: 1;
  }
  .service-info-container {
    order: 2;
  }
}
@media (max-width: 767px) {
  .secondary-card-details-container {
    display: flex;
  }
  .secondary-card-details {
    width: 70%;
    border-radius: 0 0 0 10px;
    display: flex;
    align-items: flex-start;
    padding-left: 25px;
  }
  .secondary-card:hover .secondary-card-details {
    display: flex;
  }
  .secondary-card-action {
    width: 30%;
    border-radius: 0 0 10px 0;
    display: flex;
  }
  .secondary-card:hover .secondary-card-action {
    display: flex;
  }
  .secton-image-container {
    text-align: center;
  }
  .img-section {
    width: 100%;
  }
  .venue-info-container, .venue-desc-wrapper .section-body {
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }
  .service-item-wrapper {
    gap: 90px;
  }
  .venue-desc-wrapper .section-header {
    margin-left: 0;
  }
  .secondary-card-header {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 0;
    white-space: unset;
  }
}
@media (max-width: 575px) {
  .secondary-card-md {
    height: 40vw;
  }
  .secondary-card-details {
    padding: 10px;
  }
  .secondary-card-details,
  .secondary-card-action {
    height: 76px;
  }
  .secondary-card-header {
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 18px;
    white-space: unset;
  }
  .secondary-card-action-link .icon-cart {
    height: 35px;
    width: 35px;
  }
  .img-venue {
    height: 64vw;
  }
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4431372549);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  z-index: 999;
}

.preloader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100px;
  transform-origin: center center;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}/*# sourceMappingURL=site.css.map */