<div th:replace="fragment/head"></div>
<title>Artrickshaw | Activity Category</title>
<div th:replace="fragment/header"></div>
<div th:replace="fragment/sidebar"></div>
<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->
<div ng-app="CityModule" ng-controller="CityController">
    <div class="main-panel">
        <div class="content-wrapper">
            <h3 class="card-title">City Master</h3>
            <div class="row">
                <div class="col-md-4 grid-margin stretch-card d-grid">
                    <div class="card">
                        <div class="card-body">
                            <form class="forms-sample" ng-submit="addEditCity()" autocomplete="off">
                                <div>
                                    <label>City: <span style="color:red;font-weight:bold">*</span></label>
                                    <input type="text" class="form-control" ng-model="form.cityName" id="occasion"
                                        required>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                <button type="reset" ng-click="cancelFormData()" class="btn btn-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">City Master Details</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sl No.</th>
                                            <th>City</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="city in cites">
                                            <td>{{$index + 1}}</td>
                                            <td>{{city.cityName}}</td>
                                            <td>
                                                <form method="POST" class="content-center" ng-if="city.status==false">
                                                    <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                                    <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                                            ng-click="cityActivation(city.id)" ng-model="city.status" name="enabled"
                                                            checked=""> <span class="knob"></span>
                                                    </label>                                
                                                </form>
                                                <form method="POST" class="content-center" ng-if="city.status==true">
                                                    <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                                    <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                                            ng-click="cityDeactivation(city.id)" ng-model="city.status" name="status"
                                                            checked=""> <span class="knob"></span>
                                                    </label>
                                                    
                                                </form>
                                            </td>
                                            <td colspan="1">
                                                <a class="dropdown-item table-action-link table-action-link-delete"
                                                    ng-click="deleteHoliday(city.id)">
                                                    <span class="icon-common icon-table-action-list icon-delete"></span>
                                                    <span class="lbl-table-action lbl-delete">Delete</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->
<!-- content-wrapper ends -->
<div th:replace="fragment/footer"></div>


<script src="private/admin/city.js"></script>
<script>
$("#holiDate").flatpickr({
    dateFormat: "Y-m-d",
    allowInput: true,
    disableMobile: true,
    minDate: new Date(new Date().getFullYear(), 0, 1) // Set minDate to the start of the current year
});
</script>

</body>

</html>