<div th:replace="fragment/head"></div>
<title>Artrickshaw | Home</title>
<div th:replace="fragment/header"></div>
<div th:replace="fragment/sidebar"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<div ng-app="HomeModule" ng-controller="HomeController">
    <div class="row mb-3">
        <div class="col-xxl-6 col-lg-6">
            <div class="report-container status-container status-workshop">
                <div class="row status-wrapper">
                    <div class="col-md-4 col-4 status-icon-container">
                        <div class="status-icon-wrapper">
                            <img src="assets/images/img-workshop.svg" alt="" class="img-status">
                        </div>
                    </div>
                    <div class="col-md-8 col-8 pe-0 status-details-container">
                        <div class="status-details-wrapper">
                            <div class="status-count">{{totalBookings.totalBookings}}</div>
                            <div class="status-header lbl-ellipsis">bookings</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 col-lg-6">
            <div class="report-container status-container status-activity">
                <div class="row status-wrapper">
                    <div class="col-md-4 col-4 status-icon-container">
                        <div class="status-icon-wrapper">
                            <img src="assets/images/img-activity.svg" alt="" class="img-status">
                        </div>
                    </div>
                    <div class="col-md-8 col-8 pe-0 status-details-container">
                        <div class="status-details-wrapper">
                            <div class="status-count">{{totalEnquirys.totalEnquiry}}</div>
                            <div class="status-header lbl-ellipsis">enquiry</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- ----------- Activity Booking Detail Table ---------------- -->
    <h4 class="card-title">Today's Activity Bookings :</h4>
    <div id="tblBooking" class="user-table-container">
        <table class="user-table-view">
            <tr class="table-head-primary">
                <th>S/N</th>
                <th>booking id</th>
                <th>client</th>
                <th>booking date</th>
                <th>activity date</th>
                <th>activity name</th>
                <th>time slot</th>
                <th>no. of seats</th>
                <th>payment status</th>
                <th>due amount</th>
                <th>remarks</th>
            </tr>
            <tr ng-repeat="activitys in listActivity | filter:{date: today}">
                <td>{{$index + 1}}</td>
                <td class="lbl-id">{{activitys.bookingId}}</td>
                <td>
                    <div class="info-container">
                        <span class="info-caption">name: </span>
                        <span class="info-value">{{activitys.clientName}}</span>
                    </div>
                    <div class="info-container">
                        <span class="info-caption">email: </span>
                        <span class="info-value lbl-normalize">{{activitys.email}}</span>
                    </div>
                    <div class="info-container">
                        <span class="info-caption">phone: </span>
                        <span class="info-value">{{activitys.phoneNo}}</span>
                    </div>
                </td>
                <td>{{activitys.bookingDate}}</td>
                <td>{{activitys.date}}</td>
                <td>{{activitys.activity}}</td>
                <td>
                    <spam>{{activitys.startTime}}</spam> -
                    <spam>{{activitys.endTime}}</spam>
                </td>
                <td>{{activitys.bookingSeats}}</td>
                <td>
                    <span ng-if="activitys.paymentStatus == 'FP'" class="lbl-status lbl-success">Full Paid</span>
                    <span ng-if="activitys.paymentStatus == 'PP'" class="lbl-status lbl-delete">Partial Paid</span>
                    <span ng-if="activitys.paymentStatus == 'NP'" class="lbl-status lbl-delete">Not Payment</span>
                </td>
                <td>{{activitys.dueAmount}}</td>
                <td>{{activitys.remarks}}</td>
            </tr>

        </table>
        <!-- ----------- Workshop Booking Detail Table ---------------- -->
        <br>
        <h4 class="card-title">Today's Workshop Bookings:</h4>
        <table class="user-table-view">
            <tr class="table-head-primary">
                <th>S/N</th>
                <th>booking id</th>
                <th>client</th>
                <th>booking date</th>
                <th>activity date</th>
                <th>activity name</th>
                <th>time slot</th>
                <th>no. of seats</th>
                <th>payment status</th>
                <th>due amount</th>
                <th>remarks</th>
            </tr>
            <tr ng-repeat="workshops in listWorkshop | filter:{date: today}">
                <td>{{$index + 1}}</td>
                <td class="lbl-id">{{workshops.bookingId}}</td>
                <td>
                    <div class="info-container">
                        <span class="info-caption">name: </span>
                        <span class="info-value">{{workshops.clientName}}</span>
                    </div>
                    <div class="info-container">
                        <span class="info-caption">email: </span>
                        <span class="info-value lbl-normalize">{{workshops.email}}</span>
                    </div>
                    <div class="info-container">
                        <span class="info-caption">phone: </span>
                        <span class="info-value">{{workshops.phoneNo}}</span>
                    </div>
                </td>
                <td>{{workshops.bookingDate}}</td>
                <td>{{workshops.date}}</td>
                <td>{{workshops.workshop}}</td>
                <td>
                    <spam>{{workshops.startTime}}</spam> -
                    <spam>{{workshops.endTime}}</spam>
                </td>
                <td>{{workshops.bookingSeats}}</td>
                <td>
                    <span ng-if="workshops.paymentStatus == 'FP'" class="lbl-status lbl-success">Full Paid</span>
                    <span ng-if="workshops.paymentStatus == 'PP'" class="lbl-status lbl-delete">Partial Paid</span>
                    <span ng-if="workshops.paymentStatus == 'NP'" class="lbl-status lbl-delete">Not Payment</span>
                </td>
                <td>{{workshops.dueAmount}}</td>
                <td>{{workshops.remarks}}</td>
            </tr>

        </table>
    
    <!-- ----------- Enquiry Booking Detail Table ---------------- -->
    <!-- <div class="lbl-table-caption">today's enquiry</div> -->
    <h4 class="card-title">Today's Enquiry :</h4>
    <!-- <div class="user-table-container user-table-home"> -->
        <table class="user-table-view">
            <tr class="table-head-primary">
                <th>S/N</th>
                <th>enquiry id</th>
                <th>client</th>
                <th>enquiry date</th>
                <th>enquiry for</th>
                <th style="width: 20%;">enquiry</th>
            </tr>
            <tr  ng-repeat="enquiry in enquirys | filter:{date: today}">
                <td>{{$index + 1}}</td>
                <td class="lbl-id">{{enquiry.enquiryId}}</td>
                <td>
                    <div class="info-container">
                        <span class="info-caption">name: </span>
                        <span class="info-value">{{enquiry.name}}</span>
                    </div>
                    <div class="info-container">
                        <span class="info-caption">email: </span>
                        <span class="info-value lbl-normalize">{{enquiry.email}}</span>
                    </div>
                    <div class="info-container">
                        <span class="info-caption">phone: </span>
                        <span class="info-value">{{enquiry.phoneNo}}</span>
                    </div>
                </td>
                <td>{{enquiry.date}}</td>
                <td>{{enquiry.reason}}</td>
                <td><div style="display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 35px;">
                {{enquiry.description}}</div>
                </td>
                <!-- <td>{{enquiry.description}}</td> -->
            </tr>

        </table>
    </div>
</div>


<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!-- content-wrapper ends -->
<div th:replace="fragment/footer"></div>

<script src="private/home.js"></script>
</body>

</html>