<div th:replace="fragment/head"></div>
<title>Artrickshaw | Manage User</title>
<div th:replace="fragment/header"></div>
<div th:replace="fragment/sidebar"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<div ng-app="UserModule" ng-controller="UserController">
    <div class="main-panel">
        <div class="content-wrapper">


            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">User Registration</h4>
                            <form class="forms-sample" ng-submit="addEditUser()">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Name<span style="color:red;font-weight:bold"> *</span></label>
                                        <input type="text" class="form-control" id="exampleInputUsername1"
                                            ng-model="form.name" placeholder="name" required>
                                        <input type="hidden" class="form-control" id="exampleInputId" ng-model="form.id"
                                            placeholder="id">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Username<span style="color:red;font-weight:bold"> *</span></label>
                                        <input type="text" class="form-control" id="exampleInputUsername"
                                            ng-model="form.username" placeholder="Username" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="email" class="form-control" id="exampleInputEmail"
                                    ng-model="form.email" placeholder="Email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,10}$"
                                    required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Phone Number<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" pattern="[0-9]{10}" id="exampleInputPhone"
                                        ng-model="form.mobile" placeholder="10 digit phone number" required>
                                </div>
                                <div ng-if="form.id==undefined || form.id==null" class="form-group">
                                    <label for="exampleInputPassword1">Password<span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="password" class="form-control" id="exampleInputPassword"
                                        ng-model="form.password" placeholder="Password" required>
                                </div>
                                <div ng-if="form.id!=undefined || form.id!=null" class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword"
                                        ng-model="form.password" placeholder="Password">
                                </div>
                                <!-- <div class="form-group">
                                    <label for="exampleInputConfirmRole">Role</label>
                                    <select class="form-control" ng-model="form.role" required>
                                        <option></option>
                                        <option value="ADMIN">ADMIN</option>
                                        <option value="BACKOFFICE">BACKOFFICE</option>
                                        <option value="CUSTOMER">CUSTOMER</option>
                                        <option value="USER">USER</option>
                                        <option value="SUPERADMIN">SUPER ADMIN</option>
                                    </select>
                                </div> -->
                                <!-- <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" ng-model="form.enabled">
                                        Remember me
                                    </label>
                                </div> -->
                                <button type="submit" class="btn btn-primary me-2">Submit</button>
                                <button type="reset" ng-click="cancelFormData()" class="btn btn-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">User Detais</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sl.</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in users">
                                            <td>{{$index + 1}}</td>
                                            <td><a href="" ng-click="editUser(user.id)">{{user.name}}</a></td>
                                            <td>{{user.username}}</td>
                                            <td>{{user.role}}</td>
                                            <td>
                                                <a>
                                                    <span ng-if="user.enabled == true">Active</span>
                                                    <span ng-if="user.enabled != true">Deactive</span>
                                                </a>
                                            </td>
                                            <td>
                                                <!-- <a href="" ng-click="deleteUser(user.id)"><label
                                                        class="badge badge-danger"
                                                        style="cursor: pointer;">Delete</label></a> -->
                                                        <!-- <button type="button" ng-click="deleteUser(user.id)" class=" btn-modal-action btn-modal-delete">
                                                            <span class="icon-common icon-modal icon-delete"></span></button> -->

                                                            <a class="dropdown-item table-action-link table-action-link-delete" ng-click="deleteUser(user.id)">
                                                                <span class="icon-common icon-table-action-list icon-delete"></span>
                                                                <span class="lbl-table-action lbl-delete">Delete</span>
                                                            </a>
                                                </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/home}">
                        <span>Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span>Manage User</span>
                </li>
            </ol>
        </nav>
    </div> -->
    
    <!-- <div class="lbl-table-caption">all bookings</div> -->
    <!-- <div class="row page-action-container">
        <div class="col-xxl-4 col-6 page-action-start-container order-2 order-xxl-1">
            <div class="dropdown ms-3">
                <button class="btn btn-filter" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="icon-common icon-filter-action"></span>
                    <span class="lbl-filter">Filter</span>
                </button>
                <div class="dropdown-menu page-action-filter">
                    <div class="modal-custom">
                        <div class="modal-dialog m-0">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">
                                        <span class="icon-common icon-modal-header icon-filter"></span>
                                        <span>Filter</span>
                                    </h1>
                                </div>
                                <div class="modal-body">
                                    <form class="row g-3">
                                        <div class="col-md-12">
                                            <label for="roleType" class="form-label">Role:</label> -->
                                            <!-- <div class="custom-select"> -->
                                           <!--      <select id="roleType" class="form-select">
                                                    <option selected>- Select Option</option>
                                                    <option value="0">All</option>
                                                    <option value="1">Admin</option>
                                                    <option value="2">User</option>
                                                </select>
                                            
                                        </div>
                                        <div class="col-md-12">
                                            <label for="status" class="form-label">Status:</label>
                                            
                                                <select id="status" class="form-select">
                                                    <option selected>- Select Option</option>
                                                    <option value="0">All</option>
                                                    <option value="1">Active</option>
                                                    <option value="2">Inactive</option>
                                                </select>
                                            
                                        </div>
    
                                        <div class="modal-footer flex-column">
                                            <button type="submit" class="btn btn-success btn-apply">Apply</button>
                                            <button type="button" class="btn btn-danger-link">
                                                <span class="icon-common icon-btn-link icon-reset"></span>
                                                <span>Reset Filter</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-12 page-action-header-container order-1 order-xxl-2">
            <div class="page-action-header">Manage User</div>
        </div>
        <div class="col-xxl-4 col-6 page-action-end-container order-3 order-xxl-3"> -->
            <!-- Button trigger modal -->
       <!--     <button type="button" class="btn btn-page-action btn-new-bookings" data-bs-toggle="modal" data-bs-target="#addUser">
                <span class="icon-common icon-page-action icon-add-circle"></span>
                <span class="lbl-page-action">Add User</span>
            </button> -->
    
            <!-- Modal -->
          <!--  <div class="modal fade modal-custom" id="addUser" tabindex="-1" aria-labelledby="newBookikngsLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="newBookikngsLabel">
                                <span class="icon-common icon-modal-header icon-add-circle"></span>
                                <span>Add User</span>
                            </h1>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3" ng-submit="addEditBookings()" autocomplete="off">
                                <div class="col-md-6">
    
                                    <label for="name" class="form-label">Name: </label>
                                    <input type="text" class="form-control" ng-model="form.name"
                                        placeholder="Enter Client Name" required>
                                </div>
    
                                <div class="col-md-6">
                                    <label for="username" class="form-label">User Name: </label>
                                    <input type="email" class="form-control" id="username" name="username" ng-model="form.email" placeholder="enter client email" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="roleType" class="form-label">Role:</label> 
                                    <select id="roleType" class="form-select">
                                        <option selected>- Select Option</option>
                                        <option value="0">All</option>
                                        <option value="1">Admin</option>
                                        <option value="2">User</option>
                                    </select>
                                   
                                </div>
                                <div class="col-md-6">
                                    <label for="status" class="form-label">Status:</label>
                                    <select id="status" class="form-select">
                                        <option selected>- Select Option</option>
                                        <option value="0">All</option>
                                        <option value="1">Active</option>
                                        <option value="2">Inactive</option>
                                    </select>
                                </div>
    
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger-light"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-success-light">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
    <!-- <div class="user-table-container">
        <table class="user-table-view">
            <tr class="table-head-primary">
                <th>S/N</th>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th>action</th>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{$index + 1}}</td>
                <td><a href="" ng-click="editUser(user.id)">{{user.name}}</a></td>
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
                <td>
                    <a ng-click="UserState(user.id,user.enabled)">
                        <span ng-if="user.enabled == true" class="lbl-success cursor-pointer">Active</span>
                        <span ng-if="user.enabled != true">Deactive</span>
                    </a>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-round btn-table-action" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                            id="dropdownMenuButton2">
                            <span class="icon-common icon-table-action icon-three-dot"></span>
                        </button>
                        <ul class="dropdown-menu list-table-action" aria-labelledby="dropdownMenuButton2">
                            <li class="table-action-item">
                                <a class="dropdown-item table-action-link table-action-link-edit" ng-click="editUser(user.id)">
                                    <span class="icon-common icon-table-action-list icon-edit"></span>
                                    <span class="lbl-table-action lbl-edit">Edit</span>
                                </a>
                            </li>
                            <li class="table-action-item">
                                <a class="dropdown-item table-action-link table-action-link-delete" ng-click="deleteUser(user.id)">
                                    <span class="icon-common icon-table-action-list icon-delete"></span>
                                    <span class="lbl-table-action lbl-delete">Delete</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
    
        </table>
    </div>  --> 


    
</div>






<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!-- content-wrapper ends -->
<div th:replace="fragment/footer"></div>

<script src="private/user.js"></script>
