<div th:replace="fragment/head"></div>
<title>e-Restrurent | Restrurent</title>
<div th:replace="fragment/header"></div>
<div th:replace="fragment/sidebar"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<div ng-app="RestrurentModule" ng-controller="RestrurentController">

    <div class="breadcrumb-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/admin}">
                        <span>Home</span>
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span>Restrurent</span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="col-xxl page-action-header-container order-1 order-xxl-2">
        <div class="page-action-header">All Restrurents</div>
    </div>
    <div class="row page-action-container">
        <div class="col-xxl-4 col-6 page-action-start-container order-2 order-xxl-1">
            <div class="page-action-search">
                <label for="filter" class="form-label form-label-highlight">Filter:</label>
                <input type="text" data-kt-filter="search" ng-model="searchText"
                    class="form-control btn-page-action ps-15 ng-pristine ng-valid ng-empty ng-touched"
                    placeholder="Search">
            </div>
        </div>
        <!-- <div class="col-xxl-4 col-12 page-action-header-container order-1 order-xxl-2">
            <div class="page-action-header">All Regular Classes</div>
        </div> -->
        <div class="col-xxl-4 col-6 page-action-end-container order-3 order-xxl-3">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-page-action btn-new-bookings" data-bs-toggle="modal"
                data-bs-target="#newRestaurant" ng-click="openNewRestaurant()">
                <span class="icon-common icon-page-action icon-add-circle"></span>
                <span class="lbl-page-action" >Add Restaurant</span>
            </button>

            <!-- Modal -->
            <div class="modal fade modal-custom" id="newRestaurant" tabindex="-1" aria-labelledby="newRestaurantLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="newRestaurantLabel">
                                <span class="icon-common icon-modal-header icon-add-circle"></span>
                                <span>Add Restaurant</span>
                            </h1>
                        </div>
                        <div class="modal-body">

                            <form class="row g-3" ng-submit="addEditRestrurents()" autocomplete="off" enctype="multipart/form-data">
                                <div class="col-md-12">
                                    <label for="name" class="form-label">Restaurant Name <span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" id="name" ng-model="form.name"
                                    oninvalid="this.setCustomValidity('Please enter valid Restaurant Name')"
                                        oninput="this.setCustomValidity('')"  placeholder="Enter Restaurant Name" required>
                                </div>
                            
                                <div class="col-md-12">
                                    <label>City <span style="color:red;font-weight:bold"> *</span></label>
                                    <select ng-model="form.cityId" class="form-control select2" ng-change="locationListbyCity(form.cityId)"
                                    ng-options="city.id as city.cityName for city in cites"
                                    oninvalid="this.setCustomValidity('Select Valid City')"
                                    oninput="this.setCustomValidity('')" required>
                                        <option value="" disabled selected>Select City</option>
                                    </select>
                                </div>
                            
                                <div class="col-md-12">
                                    <label>Location <span style="color:red;font-weight:bold"> *</span></label>
                                    <select ng-model="form.locId" class="form-control select2"
                                        ng-options="loc.id as loc.location for loc in locations" 
                                        oninvalid="this.setCustomValidity('Select Valid Location')"
                                        oninput="this.setCustomValidity('')" required>
                                        <option value="" disabled selected>Select Location</option>
                                    </select>
                                </div>
                            
                                <div class="col-md-12">
                                    <label for="email" class="form-label">Email <span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="email" class="form-control" id="email" ng-model="form.email"
                                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                                    oninvalid="this.setCustomValidity('Please enter valid email id')"
                                    oninput="this.setCustomValidity('')" placeholder="Enter Email Address" required>
                                </div>
                            
                                <div class="col-md-12">
                                    <label for="contact" class="form-label">Contact <span style="color:red;font-weight:bold"> *</span></label>
                                    <input name="mobile" type="number" class="form-control" id="contact" ng-model="form.contact" placeholder="Enter Contact No"
                                    min="0" step="1"
                                        pattern="[0-9]{10}"
                                        oninvalid="this.setCustomValidity('Please enter valid mobile number')"
                                        oninput="this.setCustomValidity('')" required>
                                </div>
                            
                                <div class="col-md-12">
                                    <label for="password" class="form-label">Password <span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="password" class="form-control" id="idPassword" ng-model="form.password" placeholder="Enter Password"
                                    oninvalid="this.setCustomValidity('Please Enter Password')"
                                    oninput="this.setCustomValidity('')"  required>
                                    <span class="icon-common icon-toggle-pass-slash icon-form" id="togglePassword" style="position: absolute; top: 55%; right: 4%;"
                                        ng-click="togglePassword()"></span>
                                </div>
                            
                                <div class="col-md-12">
                                    <label for="specality" class="form-label">Specialty <span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" id="specality" ng-model="form.specality" placeholder="Enter Specialty" 
                                    oninvalid="this.setCustomValidity('Please Entry Specialty')"
                                    oninput="this.setCustomValidity('')" required>
                                </div>
                            
                                <div class="col-md-12">
                                    <label for="address" class="form-label">Address <span style="color:red;font-weight:bold"> *</span></label>
                                    <input type="text" class="form-control" id="address" ng-model="form.address" placeholder="Enter Address"
                                    oninvalid="this.setCustomValidity('Please Entry Address')"
                                    oninput="this.setCustomValidity('')" required>
                                </div>
                            
                                <div class="col-md-12">
                                    <label for="fileInput" class="form-label">Image</label>
                                    <input class="form-control" type="file" id="fileInput" file-model="form.Images" accept="image/*">
                                </div>
                            
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success-light">Add</button>
                                    <button type="button" class="btn btn-danger-light" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!--Upload Modal -->
            <div class="modal fade modal-custom" id="upload_modal" tabindex="-1" aria-labelledby="newWorkshopsLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="newWorkshopsLabel">
                                <span class="icon-common icon-modal-header icon-add-circle"></span>
                                <span>Upload File</span>
                            </h1>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3 pt-3" ng-submit="uploadSubmit()">
                                <div class="row mb-3" ng-repeat="form in uploadModels track by $index">
                                    <div class="col-12"><label for="slot" class="form-label">Uploade Image For: 
                                        <span style="color:red;font-weight:bold"> *</span></label>
                                    </div>
                                    <div class="col-3">
                                        <select class="form-select" ng-model="form.type"
                                            required>
                                            <option value="">Select One</option>
                                            <option value="homePage">Home Page</option>
                                            <option value="listingPage">Listing Page</option>
                                            <option value="bookingPage">Booking Page</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" type="file" id="fileInput" file-model="form.upFile" accept="image/*" required>
                                    </div>

                                    <div class="col-1">
                                        <button type="button" class="btn-modal-action btn-modal-upload"
                                        ng-click="uploadFile(form.upFile,$index)">
                                            <span class="icon-common icon-modal icon-upload"></span>
                                    </button>
                                    </div>
                                    <div class="col-1">
                                        <button type="button" ng-disabled="form.fileLink == null || form.fileLink == undefined || form.fileLink == ''"
                                            ng-click="downloadFile(form.fileLink,form.fileName)" class="btn-modal-action btn-modal-download">
                                            <span class="icon-common icon-modal icon-download"></span>
                                        </button>
                                    </div>

                                    <div class="col-1">
                                        <button type="button" ng-click="removeRow($index)" class=" btn-modal-action btn-modal-delete">
                                            <span class="icon-common icon-modal icon-delete"></span>
                                        </button>
                                    </div>
                                  
                                </div>

                                <div class="modal-footer">
                                     <button type="button" ng-click="addRow()" class="btn btn-primary-light">Add
                                            Row</button>
                                    <button type="button" class="btn btn-danger-light"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-success-light">Upload Image</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

             <!-- View Image Modal -->
             <div class="modal fade modal-custom" id="view_image" tabindex="-1" aria-labelledby="newWorkshopsLabel"
             aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered modal-lg">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h1 class="modal-title fs-5" id="newWorkshopsLabel">
                             <span class="icon-common icon-modal-header icon-add-circle"></span>
                             <span>View Uploads</span>
                         </h1>
                     </div>
                     <div class="modal-body">
 
                         <table class="user-table-view">
                             <tr class="table-head-primary">
                                 <th>S/N</th>
                                 <th>Type</th>
                                 <th>Image</th>
                                 <th>Delete Image</th>
                             </tr>
                             <tr ng-repeat="upload in uploadImage">
                                 <td>{{$index + 1}}</td>
                                 <td>{{upload.type}}</td>
                                 <td> 
                                    <img style="height: 80px; width: 100px;"
                                    ng-src="{{'upload/' + upload.fileLink}}" alt="Image">
                                 </td>
                                 <td>
                                    <button style="width: 100%;" class="btn btn-round btn-table-action" type="button" ng-click="deleteRegularClassesImage(upload.id)">
                                        <span class="icon-common icon-table-action-list icon-edit"></span>
                                        <span class="lbl-table-action lbl-edit">Delete</span>
                                    </button>
                                </td>
                             </tr>
                         </table>
                     </div>
                 </div>
             </div>
         </div>


        </div>
    </div>

    <div id="tblCustomers" class="user-table-container">
        <table class="user-table-view">
            <tr class="table-head-primary">
                <th>S/N</th>
                <th>Restrurant</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>City</th>
                <th>Location</th>
                <th>Image</th>
                <th>Status</th>
                <th>action</th>
            </tr>
            <tr ng-repeat="res in restrurents | filter:searchText">
                <td>{{$index + 1}}</td>
                <td>{{res.name}}</td>
                <td style="text-transform: none">{{res.email}}</td>
                <td>{{res.contact}}</td>
                <td>{{res.address}}</td>
                <td>{{res.city}}</td>
                <td>{{res.location}}</td>
                <td>
                    <span >
                        <img style="height: 80px; width: 100px;" ng-src="{{'uploads/' + res.image}}" alt="Image">
                    </span>
                    
                </td>
                <td>
                    <form method="POST" class="content-center" ng-if="res.status==false">
                        <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                        <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                ng-click="cityActivation(res.id)" ng-model="res.status" name="enabled"
                                checked=""> <span class="knob"></span>
                        </label>                                
                    </form>
                    <form method="POST" class="content-center" ng-if="res.status==true">
                        <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                        <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                ng-click="cityDeactivation(res.id)" ng-model="res.status" name="status"
                                checked=""> <span class="knob"></span>
                        </label>
                        
                    </form>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-round btn-table-action" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" id="dropdownMenuButton2">
                            <span class="icon-common icon-table-action icon-three-dot"></span>
                        </button>
                        <ul class="dropdown-menu list-table-action" aria-labelledby="dropdownMenuButton2">
                            <li class="table-action-item">
                                <!-- <a class="dropdown-item table-action-link" href="#"> -->
                                <a class="dropdown-item table-action-link table-action-link-edit" ng-click="editRegularClasses(classes.id)">
                                    <span class="icon-common icon-table-action-list icon-edit"></span>
                                    <span class="lbl-table-action lbl-edit">Edit</span>
                                </a>
                            </li>
                            <li class="table-action-item">
                                <a class="dropdown-item table-action-link table-action-link-edit" ng-click="viewImage(classes.id)">
                                    <span class="icon-common icon-table-action-list icon-view"></span>
                                    <span class="lbl-table-action lbl-edit">View Image</span>
                                </a>
                            </li>
                            <li class="table-action-item">
                                <a class="dropdown-item table-action-link table-action-link-edit" ng-click="uploadFileModel(classes.id)">
                                    <span class="icon-common icon-table-action-list icon-upload"></span>
                                    <span class="lbl-table-action lbl-edit">Upload Image</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
        </table>
    </div>
</div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!-- content-wrapper ends -->


<div th:replace="fragment/footer"></div>

<script src="private/admin/restrurent.js"></script>

</body>

</html>