<div th:replace="fragment/head"></div>
<title>Shop Details View</title>
<div th:replace="fragment/header"></div>

<div ng-app="ShopManagment" ng-controller="ShopManagmentController">
    <div class="body-area" ng-show="views.list">
        <div class="body-area-header ">
            <div class="page-header mb-0">
                <span class="header-line"></span>
                <span class="lbl-page-header">Restaurants Details View</span>
                <span class="header-line"></span>
            </div>
            <div class="page-action-container">
                <div class="page-action-start-container">
                    <form>
                        <input class="form-control" type="search" ng-model="search" ng-change="searchUser(searchName)"
                            placeholder="Search Restaurants..." aria-label="Search">
                        <span class="icon-common icon-form icon-search"></span>
                    </form>
                </div>
                <div class="page-action-end-container">
                   
                </div>
            </div>
        </div>
        <div class="body-area-content">
            <div class="user-table-container">
                <table class="user-table-view" id="">
                    <tr class="table-head-primary">
                        <th>SL No.</th>
                        <th>Restaurants Name</th>
                        <th>Owner Name</th>
                        <th>Email</th>
                        <th>Contact No</th>
                        <th>Address</th>
                        <th>Area</th>
                        <th>Trade License No.</th>
                        <th>Pan No.</th>
                        <th>Active</th>
                        <!-- <th>Account Lock</th> -->
                        <th>Action</th>
                        <!-- <div class="spinner-wrapper" id="loader">
                            <div class="spinner">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                        </div> -->
                    </tr>
                    <tr ng-repeat="shop in shopList | filter:search">
                        <td>{{$index + 1}}</td>
                        <td><span class="user-role">{{shop.name}}</span></td>
                        <td><span class="user-role">{{shop.owner}}</span></td>
                        <td><span class="user-role">{{shop.email}}</span></td>
                        <td><span class="user-role">{{shop.contactNo}}</span></td>
                        <td><span class="user-role">{{shop.address}}</span></td>
                        <td><span class="user-role">{{shop.area}}</span></td>
                        <td><span class="user-role">{{shop.tradeLicenseNo}}</span></td>
                        <td><span class="user-role">{{shop.panNo}}</span></td>


                        <td>
                            <form method="POST" class="content-center" ng-if="employee.enabled==false">
                                <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                        ng-click="userActivation(employee.userId)" ng-model="employee.enabled"
                                        name="enabled" checked=""> <span class="knob"></span>
                                </label>
                            </form>
                            <form method="POST" class="content-center" ng-if="employee.enabled==true">
                                <input type="hidden" name="_token" value="FsM848SirJ6QKs0CFziA4j7n5KkBtIkiG32c4lng">
                                <label class="switch"> <input class="user" type="checkbox" data-id="2"
                                        ng-click="userDeactivation(employee.userId)" ng-model="employee.enabled"
                                        name="status" checked=""> <span class="knob"></span>
                                </label>

                            </form>
                        </td>
                        <td>
                            <div class="action-container">
                                <span class="btn-action btn-icon btn-edit" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="@mdo"
                                    sec:authorize="hasAnyAuthority('ADMIN','HOD')" ng-click="editEmployee(employee.id)">
                                    <span class="icon-common icon-action icon-edit-new"></span>
                                </span>
                                <span class="btn-action" sec:authorize="hasAnyAuthority('ADMIN','SUPERADMIN','HOD')">
                                    <span class="icon-common icon-action icon-reset-pass"
                                        ng-click="resetPassword(employee.userId)"></span>
                                </span>
                                <span class="btn-action action-resetdevice-container" ng-If="employee.deviceId !=null">
                                    <span class="icon-common icon-action icon-device"
                                        ng-click="resetDeviceId(employee.userId)"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="body-area" ng-show="views.edit">
        <div class="body-area-header">
            <div class="row align-items-center">
                <div class="page-header mb-0">
                    <span class="header-line"></span>
                    <span class="lbl-page-header">Edit Restaurants Details</span>
                    <span class="header-line"></span>
                </div>
                <div class="page-action-container justify-content-end mb-2">
                    <div class="page-action-end-container align-items-center me-2">
                        <div class="body-area-action">
                            <a ng-click="changeView('list')" class="float-end btn btn-icon btn-back me-2"
                                title="Return"><span class="icon-common icon-back icon-btn-circle"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-area-content">
            <div class="add-form-container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <form class="reg-form row g-3" name="addAdmin" role="form" ng-submit="editSaveEmployee()">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="name"> Name: <span
                                                class="text-danger">*</span>
                                        </label> <input name="name" type="text" ng-model="form.name"
                                            class="form-control" placeholder="Enter Name" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName">
                                            Username: <span class="text-danger">*</span>
                                        </label> <input name="username" type="text" ng-model="form.username"
                                            class="form-control" ng-change="checkUserNameAvailability(form.username)"
                                            placeholder="Enter UserName" required ng-readonly="true" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group position-relative">
                                        <label class="text-dark lbl-medium" for="planName">
                                            Password: <span class="text-danger">*</span>
                                        </label>  <input name="password" type="password" ng-model="form.password"
                                        class="form-control" id="idPassword" placeholder="******" />
                                 <span class="icon-common icon-toggle-pass-slash icon-form"
                                       id="togglePassword" ng-click="togglePassword()"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName">
                                            Email: <span class="text-danger">*</span>
                                        </label> <input name="email" type="email" ng-model="form.email"
                                            class="form-control" placeholder="Enter Email" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName">
                                            Phone No: <span class="text-danger">*</span>
                                        </label> <input name="phone" type="text" ng-model="form.mobile"
                                            class="form-control" placeholder="Enter Phone No" required />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="exampleInputName" class="form-label">State</label>
                                    <select name="state" ng-model="form.stateId" class="form-control select2"
                                        ng-options="state.id as state.name for state in states">
                                        <option value="" disabled selected>Select Option-</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName">
                                            Location: <span class="text-danger">*</span>
                                        </label> <select name="jobRoleId" ng-model="form.locationId"
                                            class="form-control select2"
                                            ng-options="location.id as location.city for location in locs" required>
                                            <option value disabled selected="selected">-Select
                                                Location-</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6" ng-hide="form.companyId==null">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName">
                                            Role: <span class="text-danger">*</span>
                                        </label>
                                        <select name="role" ng-model="form.role" class="form-control select2"
                                            ng-options="role.access as role.name for role in roles">
                                            <option value disabled selected="selected">-Select User Role-</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="form.role == 'ADMIN' || form.companyId==null">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="name"> Employee
                                            Id: <span class="text-danger">*</span>
                                        </label> <input name="employeeId" type="text" ng-model="form.employeeId"
                                            class="form-control" placeholder="Enter Employee Id" />
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="form.role == 'ADMIN' || form.companyId==null">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName">
                                            Grade: <span class="text-danger">*</span>
                                        </label> <select name="gradeId" ng-model="form.gradeId"
                                            class="form-control select2"
                                            ng-options="grade.gradeId as grade.gradeName for grade in grades"
                                            ng-click="fetchEmployeeGrade()">
                                            <option value disabled selected="selected">-Select
                                                Grade-</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="form.role == 'ADMIN' || form.companyId==null">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName"> Bank
                                            Name: <span class="text-danger">*</span>
                                        </label> <input name="bankame" type="text" ng-model="form.bankName"
                                            class="form-control select2" placeholder="Enter Bank Name">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="form.role == 'ADMIN' || form.companyId==null">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName"> A/C
                                            No: <span class="text-danger">*</span>
                                        </label> <input name="bankAccountNo" type="text" ng-model="form.bankAccountNo"
                                            class="form-control" placeholder="Enter Bank AC No"> </select>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="form.role == 'ADMIN' || form.companyId==null">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName"> IFSC
                                            Code: <span class="text-danger">*</span>
                                        </label> <input type="text" name="bankIFSCCode" ng-model="form.bankIFSCCode"
                                            class="form-control" placeholder="Enter IFSC Code"> </select>
                                    </div>
                                </div>
                                <div class="col-md-4" ng-hide="form.role == 'ADMIN' || form.companyId==null">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName"> Bank
                                            Type: <span class="text-danger">*</span>
                                        </label> <select name="bankType" ng-model="form.bankType"
                                            class="form-control select2">
                                            <option value disabled selected="selected">-Select
                                                Bank Type-</option>
                                            <option value="ICICI Bank">ICICI Bank</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6" ng-hide="form.role == 'ADMIN'">
                                    <div class="form-group">
                                        <label class="text-dark lbl-medium" for="planName">
                                            Approve Level: <span class="text-danger"></span>
                                        </label> <select name="approverHeadId" ng-model="form.approverHeadId"
                                            ng-options="appvl.id as appvl.des for appvl in approval"
                                            class="form-control select2">
                                            <option value disabled selected="selected">-Select
                                                Approve Level-</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="btn-container text-start">
                                    <button type="submit" class="btn btn-submit mt-3">SUBMIT</button>
                                    <input type="reset" class="btn btn-cancel me-4 mt-3" value="CANCEL">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <div th:replace="fragment/footer"></div>
    <script src="private/admin/shop.js"></script>