<link rel="icon" type="image/x-icon" href="assets/favicon.ico">

<!-- style -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/flatpickr.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/site.css">

<!-- <link rel="stylesheet" href="public/css/magnify.css"> -->
<!-- <script src="public/js/jquery.magnify.js"></script> -->
</head>

<body class="antialiased">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img src="assets/images/logo-brand.png" alt="" class="img-brand">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <!-- <div>
      <span class="lbl-greetings" id="greetingSpan">Good Morning, </span>
      <span class="greetings-role capitalize">
        <span th:text="${#authentication.getPrincipal().getUser().getName}"></span>
      </span>
      <span class="profile-role capitalize" sec:authentication="principal.authorities"></span>
    </div> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div style="color: aliceblue; padding-left: 50px; letter-spacing: 0.5rem; font-size: 1.5rem;">
        <span cclass="nav-item menu-item" id="greetingSpan">Good Morning, </span>
        <span style="text-transform: capitalize;">
          <span th:text="${#authentication.getPrincipal().getUser().getName}"></span>
        </span>
        <!-- <span class="profile-role capitalize" sec:authentication="principal.authorities"></span> -->
      </div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
 
        <!-- <li class="nav-item dropdown menu-item">
                      <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <span>BOOKINGS</span><span class="icon-common icon-chevron icon-nav"></span>
                      </a>
                      <ul class="dropdown-menu nav-sub-menu">
                          <li><a class="dropdown-item" href="#">Workshop</a></li>
                          <li><a class="dropdown-item" href="#">Activity</a></li>
                          <li><a class="dropdown-item" href="#">Private Event</a></li>
                      </ul>
                  </li> -->

                
        <li th:if="${#authentication.getPrincipal()} != 'anonymousUser'" class="nav-item menu-item" onmouseover="tempMenuOpen(this)" onmouseout="tempMenuClose(this)">
          <a class="nav-link" href="home" onclick="menuToggle(this)">WishList</a>
        </li>
        <li th:if="${#authentication.getPrincipal()} != 'anonymousUser'" class="nav-item menu-item" onmouseover="tempMenuOpen(this)" onmouseout="tempMenuClose(this)">
          <a class="nav-link" th:href="@{/order}" onclick="menuToggle(this)">Order</a>
        </li>
        <li th:if="${#authentication.getPrincipal()} != 'anonymousUser'" class="nav-item menu-item" onmouseover="tempMenuOpen(this)" onmouseout="tempMenuClose(this)">
          <a class="nav-link" href="logout" onclick="menuToggle(this)">LOGOUT</a>
        </li>
        <li th:if="${#authentication.getPrincipal()} == 'anonymousUser'" class="nav-item menu-item" onmouseover="tempMenuOpen(this)" onmouseout="tempMenuClose(this)">
          <span th:text="${#authentication.getPrincipal().getUser().getName}"></span><a class="nav-link" href="login" onclick="menuToggle(this)">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="body-area">