<div class="footer">
    <div class="lbl-footer">Copyright © swaruphait3@gmail.com</div>
</div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.all.min.js"
    integrity="sha512-IZ95TbsPTDl3eT5GwqTJH/14xZ2feLEGJRbII6bRKtE/HC6x3N4cHye7yyikadgAsuiddCY2+6gMntpVHL1gHw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<!-- chart js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- **********Excel Import Js Link************ -->
<script src="https://cdn.jsdelivr.net/npm/alasql@0.6"></script>
<script src="https://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script>

    //getting realtime Date Time
    function display_c() {
        var refresh = 1000; // Refresh rate in milliseconds
        mytime = setTimeout('display_ct()', refresh)
    }

    function display_ct() {
        var x = new Date();

        // Get day, month, year, hours, minutes, and seconds
        var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var day = days[x.getDay()];
        var date = x.getDate();
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var month = months[x.getMonth()];
        var year = x.getFullYear();
        var hours = x.getHours();
        var minutes = x.getMinutes();
        var seconds = x.getSeconds();

        // Add leading zero if necessary
        if (date < 10) {
            date = '0' + date;
        }

        if (hours < 10) {
            hours = '0' + hours;
        }

        if (minutes < 10) {
            minutes = '0' + minutes;
        }

        if (seconds < 10) {
            seconds = '0' + seconds;
        }

        // Combine the values
        //var dateTimeString = day + ', ' + date + ' ' + month + ' ' + year + ' ' + hours + ':' + minutes + ':' + seconds;  //Friday, 21 July 2023 15:12:42 format
        var dateTimeString = day + ', ' + date + ' ' + month + ' ' + year; //Friday, 21 July 2023 format

        document.getElementById('dateSpan').innerHTML = dateTimeString;
        document.getElementById('greetingSpan').innerHTML = getGreeting(hours);
        tt = display_c();
    }

    function getGreeting(hours) {
        if (hours >= 0 && hours < 12) {
            return 'Good Morning';
        } else if (hours >= 12 && hours < 17) {
            return 'Good Afternoon';
        } else {
            return 'Good Evening';
        }
    }

    window.onload = function () {
        display_ct();
    };
    //end getting realtime Date Time

    //nav toggle functionality
    var navToggler = document.getElementById('navToggler');
    var mainWrapper = document.getElementById('mainWrapper');
    var navMenu = document.getElementById('navMenu');
    var bodyWrapper = document.getElementById('bodyWrapper');
    //toggler button click to open and close menu function
    // var isSideMenuClose = mainWrapper.classList.contains('menu-close');

    // window.onload = function () {
    // 	mainWrapper.classList.add('menu-close');
    // };
    //on mouse enter side menu open
    navContainer.onmouseenter = function () {
        mainWrapper.classList.remove('menu-close');
        mainWrapper.classList.add('hover-menu-open');
    }
    //on mouse leave side menu close
    navContainer.onmouseleave = function () {
        mainWrapper.classList.add('menu-close');
        mainWrapper.classList.remove('hover-menu-open');
    }

    navToggler.onclick = function () {
        var isSideMenuClose = mainWrapper.classList.contains('menu-close');
        if (isSideMenuClose) {
            mainWrapper.classList.remove('menu-close');

            navContainer.onmouseenter = function () {
                // mainWrapper.classList.remove('menu-close');
                mainWrapper.classList.remove('hover-menu-open');
            }
            //on mouse leave side menu will remain opened 
            navContainer.onmouseleave = function () {
                mainWrapper.classList.remove('menu-close');
                mainWrapper.classList.remove('hover-menu-open');
            }
        }
        else {
            mainWrapper.classList.add('menu-close');

            //on mouse enter side menu open
            navContainer.onmouseenter = function () {
                mainWrapper.classList.remove('menu-close');
                mainWrapper.classList.add('hover-menu-open');
            }
            //on mouse leave side menu close
            navContainer.onmouseleave = function () {
                mainWrapper.classList.add('menu-close');
                mainWrapper.classList.remove('hover-menu-open');

            }
        }
    }


    if (window.innerWidth < 576) {
        mainWrapper.classList.add('menu-close');

        bodyWrapper.onclick = function () {
            mainWrapper.classList.add('menu-close');
        }
    }

    //nav sub menu open close functionality
    function toggleSubMenu(element) {
        var parentElement = element.parentNode;
        var isSubMenuActive = parentElement.classList.contains('sub-menu-active');
        // Remove the class from all parent elements
        var elements = document.getElementsByClassName('nav-item');
        for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove('sub-menu-active');
        }

        // Toggle the class on the parent element of the clicked element
        if (!isSubMenuActive) {
            parentElement.classList.add('sub-menu-active');
        }
    }

    //Master view state to edit change functionality

    var formAddContainer = document.getElementById('formAddContainer');
    var formEditContainer = document.getElementById('formEditContainer');


    var isEditViewActive = formAddContainer.classList.contains('d-none');


    function openMasterEditview(editview) {

        var allRows = document.querySelectorAll('.master-list');

        // Remove "list-active" from all rows
        allRows.forEach(function (row) {
            row.classList.remove('list-active');
        });

        // Add "list-active" to the clicked row
        var clickedRow = editview.closest('.master-list');
        clickedRow.classList.add('list-active');


        if (!isEditViewActive) {

            formAddContainer.classList.add('d-none');
            formEditContainer.classList.remove('d-none');
        }
    }

    function openMasterAddview(addview) {

        var allRows = document.querySelectorAll('.master-list');

        // Remove "list-active" from all rows
        allRows.forEach(function (row) {
            row.classList.remove('list-active');
        });

        formAddContainer.classList.remove('d-none');
        formEditContainer.classList.add('d-none');
    }


    // function selectRow(activeRow) {

    // 	// var allRows = document.querySelectorAll('.list-row');
    // 	var clickedRow = activeRow.closest('.list-row');

    // 	clickedRow.classList.toggle('list-active');
    // }

    function selectRow(activeRow) {
        var clickedRow = activeRow.closest('.list-row');

        if (activeRow.checked) {
            clickedRow.classList.add('list-active');
        } else {
            clickedRow.classList.remove('list-active');
        }
    }

    function selectAllRow() {
        var allRows = document.querySelectorAll('.list-row');
        var checkbox = document.getElementById('checkALL');

        for (var i = 0; i < allRows.length; i++) {
            var row = allRows[i];
            if (checkbox.checked) {
                row.classList.add('list-active');
            } else {
                row.classList.remove('list-active');
            }
        }
    }

    //copy text of an element
    function copyTextOnClick(clickedElement) {
        // Get the parent container of the clicked icon
        const container = clickedElement.closest('.value-tooltip-item');

        // Find the text element within the container
        const textElement = container.querySelector('.text-area');

        // Create a temporary textarea element to copy the text
        const tempTextarea = document.createElement('textarea');
        tempTextarea.value = textElement.textContent;

        // Append the textarea to the DOM
        document.body.appendChild(tempTextarea);

        // Select the text inside the textarea
        tempTextarea.select();

        // Copy the selected text
        document.execCommand('copy');

        // Removing the temporary textarea
        document.body.removeChild(tempTextarea);

        // Changing styles and icons to indicate success
        clickedElement.classList.add('icon-check-lg');
        clickedElement.classList.remove('icon-copy');
        clickedElement.title = "Copied!";
        setTimeout(() => {
            clickedElement.title = "Copy to clipboard";
            clickedElement.classList.add('icon-copy');
            clickedElement.classList.remove('icon-check-lg');
        }, 2000);
    }
    (function () {
        const idPasswordOld = document.querySelector('#togglePasswordOld');
        const oldPassword = document.querySelector('#idPasswordOld');

        idPasswordOld.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = oldPassword.getAttribute('type') === 'password' ? 'text' : 'password';
            oldPassword.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('icon-toggle-pass');
        });
    })();


    //function to show / hide sub-row in list view
    function activeSubRow(activeSubRow) {
        // Get the clicked parent row
        var clickedParentRow = activeSubRow.closest('.list-row-container');

        // Remove sub-row-active class from all other rows
        var allRows = document.querySelectorAll('.list-row-container');
        allRows.forEach(function (row) {
            if (row !== clickedParentRow) {
                row.classList.remove('sub-row-active');
            }
        });

        // Toggle sub-row-active class on the clicked row
        clickedParentRow.classList.toggle('sub-row-active');
    }

</script>
<script>
    var x, i, j, l, ll, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    l = x.length;
    for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < ll; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function (e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h, sl, yl;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                sl = s.length;
                h = this.parentNode.previousSibling;
                for (i = 0; i < sl; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        yl = y.length;
                        for (k = 0; k < yl; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function (e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
        /*a function that will close all select boxes in the document,
        except the current select box:*/
        var x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < xl; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);



    function getData() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/vcommute/autoupdateDataBygoogleapi", true);

        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
                console.log("Data updated successfully");

            } else {
                console.error("API request failed with status " + xhr.status);
            }
        };

        xhr.onerror = function () {
            console.error("API request failed");
        };

        xhr.send();
    }

</script>