
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="assets/css/admin.css" />
  <link rel="shortcut icon" href="assets/favicon.ico" />
  <link href="assets/css/flatpickr.min.css" rel="stylesheet">
  
  <!-- swiper -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script> -->
  <!-- End layout styles -->
</head>

<body>
  <div class="main-wrapper hover-menu-open" id="mainWrapper">
    <div class="header">
      <div class="logo-container">
        <div class="nav-toggle-container" id="navToggler">
          <span class="toggler-icon-top"></span>
          <span class="toggler-icon-middle"></span>
          <span class="toggler-icon-bottom"></span>
        </div>
        <a class="navbar-brand" href="index">
          <img src="assets/images/logo-brand-dark.png" alt="" srcset="" class="nav-logo">
			</a>

      </div>
      <!-- <img src="assets/images/logo-brand-dark.png" alt="" srcset="" class="header-logo"> -->
      <div class="greetings-container d-none d-lg-flex">
        <div>
          <span class="lbl-greetings" id="greetingSpan">Good Morning, </span>
          <span class="greetings-role capitalize">
            <span th:text="${#authentication.getPrincipal().getUser().getName}"></span>
          </span>
          <span class="profile-role capitalize" sec:authentication="principal.authorities"></span>
        </div>
        
        <!-- <span id="dateSpan"></span>  -->
      </div>
      <div class="toolbar-container">
        <div class="toolbar-item">
          <div class="logout-container">
            <a th:href="@{/logout}" class="lbl-logout">
              <span class="icon-common icon-logout icon-header"></span><span>Logout</span>
            </a>
          </div>
        </div>
      </div>
    </div>