<div th:replace="user/fragment/head"></div>
<title>e-Resturant</title>
<div th:replace="user/fragment/header"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!--  views -->
<div ng-app="IndexModule" ng-controller="OrderItemController">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="home">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Order</li>
		</ol>
	</nav>
	<div class="view-container">

		<!-- {{-- <div class="page-header-container">
					<div class="page-header page-header-secondary">
						the art craft program
					</div>
				</div> --}} -->
		<div class="section-container">
			<div class="row" >
				<div class="col-xl-6 section-item-conatiner">
					<div class="item-image-container">
						<div class="page-header-container">
							<div class="page-header page-header-secondary">
								{{itemName}}
							</div>
						</div>
					</div>
					<img
               ng-src="{{'uploads/' + images}}"
                   style="height: 50vh; width: 80%; margin-bottom: 20px; border-radius: 15px;"
                   alt="images"
                   />
					<div class="item-details-container">
						<div class="item-price-container">
							<span class="item-price-prefix">₹</span>
							<span class="item-price">{{price}}</span>
							<span class="item-unit-pricing">per Plate</span>
						</div>
					</div>
				</div>
				<div class="col-xl-6 section-form-conatiner">
					<form class="row section-form" ng-submit="proceedToOrder()" autocomplete="off">
						<div class="col-xl-6 col-lg-6 md-12 sm-6 ">

							<label for="name" class="form-label">Name:<span
									style="color:red;font-weight:bold">*</span></label>
							<input type="text" class="form-control" ng-model="form.orderBy"
								placeholder="Enter Client Name" 
								oninvalid="this.setCustomValidity('Please enter valid Name')"
								oninput="this.setCustomValidity('')" required>
						</div>
						<input type="text" class="form-control" ng-model="form.itemId"
								  style="display: none;">
								  <input type="text" class="form-control" ng-model="form.restId"
								  style="display: none;">
						<div class="col-xl-6 col-lg-6 md-12 sm-6">
							<label for="phone_no" class="form-label">Phone:<span style="color:red;font-weight:bold">
									*</span></label>
							<input name="contactNo" type="number" class="form-control"  min="0" step="1"
							 id="contactNo"
								ng-model="form.contactNo" placeholder="10 digit phone number"
								pattern="[0-9]{10}"
							oninvalid="this.setCustomValidity('Please enter valid mobile number')"
							oninput="this.setCustomValidity('')" required>
						</div>
						<input type="text" class="form-control" id="itemId"
						ng-model="form.itemId" hidden>


						<div class="col-md-4 sm-6">
							<label for="price" class="form-label">Price </label>
							<input type="number" class="form-control" ng-model="form.rate" disabled>
						</div>
						<div class="col-md-4 sm-6">
							<label for="qty" class="form-label">No. Of Items:<span
									style="color:red;font-weight:bold"> *</span></label>
							<input
								type="number" min="1" max="50" ng-blur="priceCalculate(form.qty)"
								 class="form-control" id="qty"
								ng-model="form.qty" placeholder="enter no of seats" 
								oninvalid="this.setCustomValidity('Please chose number of order')"
								oninput="this.setCustomValidity('')" required>
						</div>
						<div class="col-md-4 sm-6">
							<label for="totalAmount" class="form-label">Total Amount</label>
							<input type="number" class="form-control" ng-model="form.totalAmount"
							disabled>
						</div>
						<div class="col-xl-6 col-lg-6 md-12 sm-6">
							<label for="remarks" class="form-label">Mode Of Payment:<span
								style="color:red;font-weight:bold"> *</span> </label>
							<select name="modeOfPayment" ng-model="form.modeOfPayment" class="form-control select2"
							oninvalid="this.setCustomValidity('Please chose mode of payment')"
								oninput="this.setCustomValidity('')"
						 required>
							<option value="" disabled selected>Select Mode Of Payment<span
								style="color:red;font-weight:bold"> *</span></option>
							<option value="CASH" >Cash On Delivary</option>
							<option value="ONLINE" >Online</option>

						</select>
						</div>

						<div class="col-xl-6 col-lg-6 md-12 sm-6">
							<label for="remarks" class="form-label">Remarks: </label>
							<textarea class="form-control" id="remarks" rows="1" ng-model="form.remarks"
								placeholder="Enter Remarks"></textarea>
						</div>
						<div class="col-md-12 sm-12">
							<label for="phone_no" class="form-label">Delivary Address:<span style="color:red;font-weight:bold">
									*</span></label>
									<textarea class="form-control" id="delivaryAddress" ng-model="form.delivaryAddress" placeholder="Enter Address" style="height: 150px;"
									oninvalid="this.setCustomValidity('Please Enter Delivary Address')"
								oninput="this.setCustomValidity('')" required></textarea>
						</div>
						<div class="col-12 text-center d-flex justify-content-center">
							<button class="btn-section-action btn-action-primary btn-pay mt-5" type="submit">
								<span class="lbl-btn-action">Proceed To Order</span>
								<span class="icon-common icon-section-action icon-arrow-right"></span>
							</button>
						</div>
						<div class="col-12">
							<div class="text-center">
								<img src="assets/images/visa.svg" alt="" class="mx-2">
								<img src="assets/images/mastercard.svg" alt="" class="mx-2">
								<img src="assets/images/rupay.png" alt="" class="mx-2">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- views end -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!-- content-wrapper ends -->
<div th:replace="website/fragment/footer"></div>

<script src="private/index.js"></script>


<script>
	// $("#date").flatpickr({
	// 	dateFormat: "Y-m-d",
	// 	allowInput: true,
	// 	disableMobile: true, // "true" should not be in quotes
	// 	minDate: "today" // Disable all previous dates from the present date
	// });

	var now = new Date();
	// Check if the current time is after 10:30:00
	if (now.getHours() > 10 || (now.getHours() === 10 && now.getMinutes() >= 30)) {
		// If after 10:30:00, set the minimum date to tomorrow
		var tomorrow = new Date(now);
		tomorrow.setDate(now.getDate() + 1); // Add one day
		$("#date").flatpickr({
			dateFormat: "Y-m-d",
			allowInput: true,
			disableMobile: true,
			minDate: tomorrow
		});
	} else {
		// If before 10:30:00, set the minimum date to today
		$("#date").flatpickr({
			dateFormat: "Y-m-d",
			allowInput: true,
			disableMobile: true,
			minDate: "today"
		});
	}	
</script>


</body>

</html>