<div th:replace="fragment/head"></div>
<title>e-Restrurent | Home</title>
<div th:replace="fragment/header"></div>
<div th:replace="fragment/sidebar"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->



<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!-- content-wrapper ends -->
<div th:replace="fragment/footer"></div>

<script src="private/home.js"></script>
</body>

</html>