<div th:replace="website/fragment/head"></div>
<title>Art Rickshaw</title>
<div th:replace="website/fragment/header"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!--  views -->
<div>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">About Us</li>
	</ol>
</nav>
<div class="view-container">
	<div class="section-wrapper">
		<div class="section-hero">
			<div class="page-header-lg">
				<span>Welcome to</span>
				<span class="header-strong lbl-highlight">Art Rickshaw</span>
			</div>
			<div class="page-desc">Lorem ipsum dolor sit amet consectetur. Molestie nibh sodales commodo lobortis risus augue curabitur enim ullamcorper. Justo neque non pharetra posuere odio in morbi eget. Magna nisl ullamcorper bibendum ipsum suspendisse. Id ut quisque massa auctor amet et.</div>
			

			<div class="section-wrapper">
				<div class="section-body">

				</div>
			</div>
		</div>
	</div>

	<div class="section-wrapper">
		<div class="section-body section-milestone">
			<div class="milestone-header">Our Milestones</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 milestone-card-container">
					<div class="milestone-card">
						<div class="milestone-card-count-container">
							<span class="lbl-card-count">2019-2020</span>
						</div>
						<div class="milestone-card-body">
							Lorem ipsum dolor sit amet consectetur. Eget sed amet amet vulputate fringilla netus. Donec nullam sit auctor ultricies.
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 milestone-card-container">
					<div class="milestone-card">
						<div class="milestone-card-count-container">
							<span class="lbl-card-count">2019-2020</span>
						</div>
						<div class="milestone-card-body">
							Lorem ipsum dolor sit amet consectetur. Eget sed amet amet vulputate fringilla netus. Donec nullam sit auctor ultricies.
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 milestone-card-container">
					<div class="milestone-card">
						<div class="milestone-card-count-container">
							<span class="lbl-card-count">2019-2020</span>
						</div>
						<div class="milestone-card-body">
							Lorem ipsum dolor sit amet consectetur. Eget sed amet amet vulputate fringilla netus. Donec nullam sit auctor ultricies.
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 milestone-card-container">
					<div class="milestone-card">
						<div class="milestone-card-count-container">
							<span class="lbl-card-count">2019-2020</span>
						</div>
						<div class="milestone-card-body">
							Lorem ipsum dolor sit amet consectetur. Eget sed amet amet vulputate fringilla netus. Donec nullam sit auctor ultricies.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="section-wrapper">
		<div class="section-body about-section-body">
			<div class="row align-items-top">
				<div class="col-lg-6">
					<div class="section-about-header">Our Story</div>
					<div>
						<img src="assets/images/section-image-our-story.png" alt="" class="img-section">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="section-content">
						<!-- <div class="section-about-header">The Art Craft Program</div> -->
						<div class="section-about-details-lg">
							<span>Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra nulla eget faucibus ac integer. Platea feugiat diam mi donec velit. Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra nulla eget faucibus ac integer. Platea feugiat diam mi donec velit.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section-wrapper">
		<div class="section-body about-section-body">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="section-content">
						<div class="section-about-header">Our Philosophy</div>
						<div class="section-about-details-lg">
							<span>Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra nulla eget faucibus ac integer. Platea feugiat diam mi donec velit. Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra nulla eget faucibus ac integer. Platea feugiat diam mi donec velit.</span>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
						<!-- <div class="section-about-header">The Art Craft Program</div> -->
						<div class="text-end">
							<img src="assets/images/section-image-our-philosophy.png" alt="" class="img-section">
						</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-wrapper">
		<div class="section-body about-section-body-sm">
			<div class="section-about-header">Public Art Projects</div>
			<div class="project-section-container">
				<div class="row align-items-center project-section-wrapper">
					<div class="col-lg-7 project-content-wrapper">
						<div class="section-content">
							<div class="section-about-details-md">
								<span>Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies.</span>
							</div>
						</div>
					</div>
					<div class="col-lg-5 project-image-wrapper">
						<img src="assets/images/section-image-public-project-1.png" alt="" class="img-section img-projects">
					</div>
				</div>
				<div class="row align-items-center project-section-wrapper">
					<div class="col-lg-7 project-content-wrapper">
						<div class="section-content">
							<div class="section-about-details-md">
								<span>Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies.</span>
							</div>
						</div>
					</div>
					<div class="col-lg-5 project-image-wrapper">
						<img src="assets/images/section-image-public-project-1.png" alt="" class="img-section img-projects">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-wrapper">
		<div class="section-body about-section-body-sm">
			<div class="section-about-header">our services</div>

			<div class="section-service-container">
				<div class="row align-items-center">
					<div class="col-lg-9 service-info-container">
						<div class="service-header d-none d-lg-block">art menu</div>
						<div class="service-desc">Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra</div>
						<div class="service-cta-container">
							<a href="" class="btn-section-action btn-action-transparent btn-action-highlight">
								<span class="lbl-btn-action">learn more</span>
								<span class="icon-common icon-section-action icon-arrow-right"></span>
							</a>
						</div>
					</div>
					<div class="col-lg-3 service-image-container">
						<div class="service-header d-block d-lg-none">art menu</div>
						<img src="assets/images/img-service-art-menu.png" alt="" class="img-service w-100">
					</div>
				</div>
			</div>
			<div class="section-service-container">
				<div class="row align-items-center">
					<div class="col-lg-9 service-info-container">
						<div class="service-header d-none d-lg-block">weekly special</div>
						<div class="service-desc">Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra</div>
						<div class="service-cta-container">
							<a href="" class="btn-section-action btn-action-transparent btn-action-highlight">
								<span class="lbl-btn-action">learn more</span>
								<span class="icon-common icon-section-action icon-arrow-right"></span>
							</a>
						</div>
					</div>
					<div class="col-lg-3 service-image-container">
						<div class="service-header d-block d-lg-none">weekly special</div>
						<img src="assets/images/img-service-weekly-special.png" alt="" class="img-service w-100">
					</div>
				</div>
			</div>
			<div class="section-service-container">
				<div class="row align-items-center">
					<div class="col-lg-9 service-info-container">
						<div class="service-header d-none d-lg-block">regular classes</div>
						<div class="service-desc">Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra</div>
						<div class="service-cta-container">
							<a href="" class="btn-section-action btn-action-transparent btn-action-highlight">
								<span class="lbl-btn-action">learn more</span>
								<span class="icon-common icon-section-action icon-arrow-right"></span>
							</a>
						</div>
					</div>
					<div class="col-lg-3 service-image-container">
						<div class="service-header d-block d-lg-none">regular classes</div>
						<img src="assets/images/img-service-regular-classes.png" alt="" class="img-service w-100">
					</div>
				</div>
			</div>
			<div class="section-service-container">
				<div class="row align-items-center">
					<div class="col-lg-9 service-info-container">
						<div class="service-header d-none d-lg-block">private events</div>
						<div class="service-desc">Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra</div>
						<div class="service-cta-container">
							<a href="" class="btn-section-action btn-action-transparent btn-action-highlight">
								<span class="lbl-btn-action">learn more</span>
								<span class="icon-common icon-section-action icon-arrow-right"></span>
							</a>
						</div>
					</div>
					<div class="col-lg-3 service-image-container">
						<div class="service-header d-block d-lg-none">private events</div>
						<img src="assets/images/img-service-private-events.png" alt="" class="img-service w-100">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section-wrapper">
		<div class="section-body about-section-body-sm">
			<div class="section-about-header">testimonial</div>
	
			<div class="section-testimonial-wrapper">
				<div id="carouselExample" class="carousel slide carousel-dark">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="testimonials-container">
								<div class="testimonial-header">Samantha Smith</div>
								<div class="testimonial-rating">
									<img src="assets/icons/stars.svg" class="">
								</div>
								<div class="testimonial-desc">Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra eu posuere platea ante sit maecenas. Sit consequat bibendum nibh aliquam convallis aenean ante sit maecenas.</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="testimonials-container">
								<div class="testimonial-header">Jackob Smith</div>
								<div class="testimonial-rating">
									<img src="assets/icons/stars.svg" class="">
								</div>
								<div class="testimonial-desc">Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra eu posuere platea ante sit maecenas. Sit consequat bibendum nibh aliquam convallis aenean ante sit maecenas.</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="testimonials-container">
								<div class="testimonial-header">Edward Smith</div>
								<div class="testimonial-rating">
									<img src="assets/icons/stars.svg" class="">
								</div>
								<div class="testimonial-desc">Lorem ipsum dolor sit amet consectetur. Sit consequat bibendum nibh aliquam convallis aenean ultricies. Convallis pharetra diam adipiscing eu posuere platea ante sit maecenas. Cras adipiscing pellentesque viverra eu posuere platea ante sit maecenas. Sit consequat bibendum nibh aliquam convallis aenean ante sit maecenas.</div>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>


	<div class="section-wrapper">
		<div class="section-body about-section-body-sm">
			<div class="section-team">
				<div class="section-team-header">our team</div>
				
				<div class="section-team-wrapper">
					<div class="team-card-wrapper">
						<div class="team-card">
							<div class="team-card-image-container">
								<div class="img-team" style="background-image: url('assets/images/img-team.png');"></div>
							</div>
							<div class="team-card-body-wrapper">
								<div class="team-card-body">
									<div class="team-card-header">Bella Swan</div>
									<div class="team-card-desc">Director</div>
								</div>
							</div>
						</div>
						<div class="team-card">
							<div class="team-card-image-container">
								<div class="img-team" style="background-image: url('assets/images/img-team.png');"></div>
							</div>
							<div class="team-card-body-wrapper">
								<div class="team-card-body">
									<div class="team-card-header">Bella Swan</div>
									<div class="team-card-desc">Director</div>
								</div>
							</div>
						</div>
						<div class="team-card">
							<div class="team-card-image-container">
								<div class="img-team" style="background-image: url('assets/images/img-team.png');"></div>
							</div>
							<div class="team-card-body-wrapper">
								<div class="team-card-body">
									<div class="team-card-header">Bella Swan</div>
									<div class="team-card-desc">Director</div>
								</div>
							</div>
						</div>
						<div class="team-card">
							<div class="team-card-image-container">
								<div class="img-team" style="background-image: url('assets/images/img-team.png');"></div>
							</div>
							<div class="team-card-body-wrapper">
								<div class="team-card-body">
									<div class="team-card-header">Bella Swan</div>
									<div class="team-card-desc">Director</div>
								</div>
							</div>
						</div>
						<div class="team-card">
							<div class="team-card-image-container">
								<div class="img-team" style="background-image: url('assets/images/img-team.png');"></div>
							</div>
							<div class="team-card-body-wrapper">
								<div class="team-card-body">
									<div class="team-card-header">Bella Swan</div>
									<div class="team-card-desc">Director</div>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper d-none">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide">Slide 1</div>
							<div class="swiper-slide">Slide 2</div>
							<div class="swiper-slide">Slide 3</div>
							<!-- ... -->
						</div>
						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>
					
						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					
						<!-- If we need scrollbar -->
						<div class="swiper-scrollbar"></div>
					</div>

				</div> 
			</div>
		</div>
	</div>

	

</div>
</div>
<!-- views end -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<div th:replace="website/fragment/footer"></div>

<script src="private/home.js"></script>

<script type="javascript">
	const swiper = new Swiper('.swiper', {
		// Optional parameters
		direction: 'vertical',
		loop: true,

		// If we need pagination
		pagination: {
			el: '.swiper-pagination',
		},

		// Navigation arrows
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},

		// And if we need scrollbar
		scrollbar: {
			el: '.swiper-scrollbar',
		},
	});
</script>
</body>

</html>