<div th:replace="website/fragment/head"></div>
<title>Art Rickshaw</title>
<div th:replace="website/fragment/header"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!--  views -->
<div>

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Contact Us</li>
		</ol>
	</nav>
	<div class="view-container">

		<div class="row contact-details-container">
			<div class="col-xxl-4">
				<div class="contact-details-card">
					<div class="contact-card-header">contact us</div>
					<div class="contact-details-item">
						<span class="icon-common icon-contact-card icon-location"></span>
						<span class="lbl-contact-item">49B Hindustan Park, Kolkata, 700029</span>
					</div>
					<div class="contact-details-item">
						<span class="icon-common icon-contact-card icon-telephone"></span>
						<span class="lbl-contact-item">8335855530</span>
					</div>
					<div class="contact-details-item">
						<span class="icon-common icon-contact-card icon-email"></span>
						<span class="lbl-contact-item">info@artrickshaw.in</span>
					</div>
					<div class="contact-details-item">
						<span class="icon-common icon-contact-card icon-insta"></span>
						<span class="lbl-contact-item">instagram.com/artrickshaw_kol/</span>
					</div>
				</div>
			</div>
			<div class="col-xxl-8">
				<div class="contact-details-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14742.562746042735!2d88.3631231!3d22.5176605!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0276d55dc3df47%3A0xaecfbc5313723cfd!2sArt%20Rickshaw!5e0!3m2!1sen!2sin!4v1692947631702!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- views end -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<div th:replace="website/fragment/footer"></div>

</body>

</html>