<div th:replace="website/fragment/head"></div>
<title>e-Restaurant</title>
<div th:replace="website/fragment/header"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!--  views -->
<div ng-app="IndexModule" ng-controller="IndexController">
	<div class="section-wrapper section-hero">
		<div class="hero-sub-header">welcome to</div>
		<div class="hero-header-container">
			<img src="assets/images/logo-brand-dark.png" alt="" class="img-hero-brand">
		</div>
		<div class="hero-description">Puchase Your Favourite Foods</div>
	</div>

	<div class="section-wrapper section-primary">
		<div class="lead-section-header-container">
			<span class="lead-section-header">Restaurant</span>
		</div>
		<div class="primary-card-wrapper">
			<div class="row">
				<div class="primary-card-container col-xl-4 col-lg-6 ng-scope" ng-repeat="item in restrurents">
					<div class="primary-card">
		
							<div class="primary-card-image-container">
								<!-- <div class="img-primary-card" style="background-image: url('upload/{{item.fileLink}}');"></div> -->
								<img ng-src="{{'uploads/' + item.image}}" alt="" style="height: 50vh;"
								class="img-primary-card">
							</div>
						
						<div class="primary-card-details" style="text-align: center;">
							<div class="primary-card-header">{{item.name}}</div>
							<span class="primary-card-desc" >{{item.specality}}</span><br/>

							<span class="primary-card-desc" >{{item.address}}</span>
							
						</div>
						<div class="primary-card-action">
							<a href="restitem?restid={{item.id}}" class="primary-card-action-link">
								<span class="lbl-card-action">Visit Now</span>
								<span class="icon-common icon-card-action icon-arrow-right"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="primary-action-container pb-3">
			<a href="activities" class="btn-card-action">see more</a>
		</div>
	</div>

	<div class="section-wrapper section-secondary">
		<div class="section-style-before section-style-after section-style-alpha-before section-style-wave-after">
			<div class="lead-section-header-container">
				<span class="lead-section-header">Specials Items</span>
			</div>
			<div class="section-body home-carousel-wrapper">
				<div id="carouselExampleControls" class="carousel sproduct home-carousel" data-interval="false" data-bs-ride="false">
					<div class="carousel-inner">
						<!-- <div ng-repeat="data in workshop.upload | filter:{type:'listingPage'} track by $index" class="carousel-item" ng-class="{ 'active': $first }">
							<img src="upload/{{data.fileLink}}" class="d-block ms-auto me-auto w-50" alt="...">
						</div> -->
						<div class="carousel-item" ng-repeat="workshop in foods" ng-class="{ 'active': $first }">
							<div class="row align-items-center section-height">
								<div class="col-lg-6">
									
										<div >
											<img ng-src="{{'uploads/' + workshop.images}}" class="d-block ms-auto me-auto" 
											style="width: 500px; height: 50vh; border-radius: 25px;" alt="...">
										</div>

								</div>
								<div class="col-lg-6">
									<div class="section-content">
										<div class="section-content-header">{{workshop.name}}
											
										</div>
										<div style="text-transform: capitalize; letter-spacing: 0.5rem; font-size: 1.5rem;">{{workshop.resturent}}</div><br/>

										<!-- <div class="section-content-details"> -->
											<div></div>
											<!-- <div class="item-description" ng-bind-html="trustAsHtml(workshop.description)">
												<span class="icon-common icon-section-details icon-chevron-right"></span>
											</div> -->
										<!-- </div> -->
										<div class="section-content-cta">
											<a href="orederitem?itemId={{workshop.id}}" class="btn-section-action btn-action-primary">
												<span class="lbl-btn-action">Order Now</span>
												<span class="icon-common icon-section-action icon-arrow-right"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="icon-common icon-carousel-control prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="icon-common icon-carousel-control next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="section-wrapper section-primary pb-5">
		<div class="section-style-before section-style-alpha-before">
			<div class="lead-section-header-container pt-0">
				<span class="lead-section-header">private events</span>
			</div>
			<div class="primary-card-wrapper">
				<div class="row">
					<div class="primary-card-container col-xl-3 col-lg-6" ng-repeat="privateEvents in privateEventss" ng-if="$index < 4">
						<div class="primary-card">
							<div ng-repeat="data in privateEvents.upload | filter:{type:'home'} track by $index">
								<div class="primary-card-image-container">
									<div class="img-primary-card" style="background-image: url('upload/{{data.fileLink}}');"></div>
									<!-- <img src="upload/{{upload.fileLink}}" alt="" class="img-primary-card"> -->
								</div>
							</div>
							<div class="primary-card-details">
								<div class="primary-card-header">{{privateEvents.name}}</div>
								<div class="primary-card-desc" ng-bind-html="trustAsHtml(privateEvents.description)"></div>
							</div>
							<div class="primary-card-action">
								<a href="web-enquiry?privateEventId={{privateEvents.id}}" class="primary-card-action-link">
									<span class="lbl-card-action">Enquire Now</span>
									<span class="icon-common icon-card-action icon-arrow-right"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="primary-action-container pb-3">
				<a href="web-private-events" class="btn-card-action">see more</a>
			</div>
		</div>
	</div>

	<!-- <div class="section-body" ng-repeat="privateEvents in privateEventss">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="section-content">
					<div class="section-content-header">{{privateEvents.name}}</div>
					<div class="section-content-details">
						<div class="item-description" ng-bind-html="trustAsHtml(privateEvents.description)">
							<span class="icon-common icon-section-details icon-chevron-right"></span>
						</div>
					</div>
					<div class="section-content-cta">
						<a href="web-enquiry?privateEventId={{privateEvents.id}}" class="btn-section-action btn-action-transparent">
							<span class="lbl-btn-action">Enquire Now</span>
							<span class="icon-common icon-section-action icon-arrow-right"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div id="carouselExampleControls" class="carousel sproduct" data-interval="false">
					<div class="carousel-inner">
						<div ng-repeat="data in privateEvents.upload | filter:{type:'listingPage'} track by $index" class="carousel-item" ng-class="{ 'active': $first }">
							<img src="upload/{{data.fileLink}}" class="d-block ms-auto me-auto w-50" alt="...">
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="icon-common icon-carousel-control prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="icon-common icon-carousel-control next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div> -->

</div>
<!-- views end -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!-- content-wrapper ends -->
<div th:replace="website/fragment/footer"></div>

<script>
	var app = angular.module("IndexModule", ['ngSanitize']);

app.controller("IndexController", function ($scope, $http) {
  autoWorkshopFetch();
  function autoWorkshopFetch() {
    $http({
      method: "GET",
      url: "food/findAllActiveList",
    }).then(
      function successCallback(response) {


        // console.log(response.data);
        $scope.foods = response.data.data;
      },
      function errorCallback(response) {
        console.log(response.statusText);
      }
    );
  }

  autoActivityListFetch();
  function autoActivityListFetch() {
    $http({
      method: "GET",
      url: "restrurent/findAllActiveList",
    }).then(
      function successCallback(response) {
        // console.log(response);
        $scope.restrurents = response.data.data;
		console.log($scope.restrurents )
	  },
      function errorCallback(response) {
        console.log(response.statusText);
      }
    );
  }

  // $scope.ItemsListbyRestrurent = function (id) {
  //   $http({
  //     method: 'GET',
  //     params: { 'id': id },
  //     url: 'food/findItemsByResturentId'
  //   }).then(function successCallback(response) {
  //     console.log(response);
      
  //     $scope.$apply(() => { 
  //       $scope.items = response.data.data;
  //     });
  
  //     alert(JSON.stringify(response.data.data)); 
  //   }, function errorCallback(response) {
  //     console.log(response.statusText);
  //   });
  // };
  
});
</script>
</body>

</html>