<div th:replace="website/fragment/head"></div>
<title>Art Rickshaw</title>
<div th:replace="website/fragment/header"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!--  views -->
<div ng-app="WebEnquiryModule" ng-controller="WebEnquiryController">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="">Home</a></li>
			<li class="breadcrumb-item"><a href="">Bookings</a></li>
			<li class="breadcrumb-item active" aria-current="page">Private Events</li>
		</ol>
	</nav>


	<div class="view-container">

		<div class="page-header-container">
			<div class="page-header">
				<span class="lbl-dark">Private</span>
				<span class="lbl-highlight">Events</span>
			</div>
			<div class="page-action-container">
				<div class="page-action search-container">
				</div>
			</div>
		</div>
		<div class="section-container">
			<div class="section-header">events we offer</div>

			<div class="secondary-card-wrapper">
				<div class="row">
					<div class="secondary-card-container col-lg-3 col-6" ng-repeat="privateEvents in privateEventss">
						<div class="secondary-card">
							<div class="secondary-card-image-container">
								<div ng-repeat="data in privateEvents.upload | filter:{type:'listingPage'} track by $index">
									<div class="img-secondary-card secondary-card-md" style="background-image: url(upload/{{data.fileLink}});"></div>
								</div>
								<!-- <div id="carouselExampleControls" class="carousel sproduct" data-interval="false">
									<div class="carousel-inner">
										<div ng-repeat="data in privateEvents.upload | filter:{type:'listingPage'} track by $index"  class="carousel-item" ng-class="{ 'active': $first }">
											<div class="img-secondary-card secondary-card-md" style="background-image: url(upload/{{data.fileLink}});"></div>
										</div>
									</div>
									<button class="carousel-control-prev" type="button"
										data-bs-target="#carouselExampleControls" data-bs-slide="prev">
										<span class="icon-common icon-carousel-control prev-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button"
										data-bs-target="#carouselExampleControls" data-bs-slide="next">
										<span class="icon-common icon-carousel-control next-icon" aria-hidden="true"></span>
										<span class="visually-hidden">Next</span>
									</button>
								</div> -->
							</div>
							<div class="secondary-card-details-container">
								<div class="secondary-card-details">
									<div class="secondary-card-header">{{privateEvents.name}}</div>
									<!-- <div class="secondary-card-desc"><b>{{workshop.price}}</b></div> -->
								</div>
								<div class="secondary-card-action">
									<a class="secondary-card-action-link" href="web-enquiry?privateEventId={{privateEvents.id}}">
										<span class="lbl-card-action d-none d-md-block">enquire now</span>
										<span class="icon-common icon-card-action icon-arrow-right d-none d-md-block"></span>
										<span class="icon-common icon-cart d-block d-md-none"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item-expand-link-container text-center">
						<a href="" class="btn-link btn-expand">
							<span>See More</span><span class="icon-common icon-btn-link icon-chevron"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="section-container">
			<div class="section-header">venues we offer</div>

			<div class="venue-wrapper">
				<div class="row venue-container">
					<div class="col-lg-6 venue-image-container">
						<div class="img-venue" style="background-image: url('assets/images/section-image-pottery.png');"></div>
					</div>
					<div class="col-lg-6 venue-info-container">
						<div class="venue-header">mosiac space</div>
						<div class="venue-desc">Lorem ipsum dolor sit amet consectetur. Nunc pharetra quis nibh interdum. Commodo vitae sit arcu at. Nec ut mus fermentum erat. Enim sed enim magna eu vitae egestas mauris sit. Tristique dictum molestie consectetur mollis adipiscing id sit tempus porttitor. A pulvinar eros ultrices enim lectus. Neque tortor maecenas semper dictum mattis morbi convallis augue et.</div>
					</div>
				</div>
				<div class="row venue-container">
					<div class="col-lg-6 venue-image-container">
						<div class="img-venue" style="background-image: url('assets/images/section-image-pottery.png');"></div>
					</div>
					<div class="col-lg-6 venue-info-container">
						<div class="venue-header">terrace space</div>
						<div class="venue-desc">Lorem ipsum dolor sit amet consectetur. Nunc pharetra quis nibh interdum. Commodo vitae sit arcu at. Nec ut mus fermentum erat. Enim sed enim magna eu vitae egestas mauris sit. Tristique dictum molestie consectetur mollis adipiscing id sit tempus porttitor. A pulvinar eros ultrices enim lectus. Neque tortor maecenas semper dictum mattis morbi convallis augue et.</div>
					</div>
				</div>
				<div class="row venue-container">
					<div class="col-lg-6 venue-image-container">
						<div class="img-venue" style="background-image: url('assets/images/section-image-pottery.png');"></div>
					</div>
					<div class="col-lg-6 venue-info-container">
						<div class="venue-header">banquet hall</div>
						<div class="venue-desc">Lorem ipsum dolor sit amet consectetur. Nunc pharetra quis nibh interdum. Commodo vitae sit arcu at. Nec ut mus fermentum erat. Enim sed enim magna eu vitae egestas mauris sit. Tristique dictum molestie consectetur mollis adipiscing id sit tempus porttitor. A pulvinar eros ultrices enim lectus. Neque tortor maecenas semper dictum mattis morbi convallis augue et.</div>
					</div>
				</div>
				<div class="row venue-container">
					<div class="col-lg-6 venue-image-container">
						<div class="img-venue" style="background-image: url('assets/images/section-image-pottery.png');"></div>
					</div>
					<div class="col-lg-6 venue-info-container">
						<div class="venue-header">outdoor venues</div>
						<div class="venue-desc">Lorem ipsum dolor sit amet consectetur. Nunc pharetra quis nibh interdum. Commodo vitae sit arcu at. Nec ut mus fermentum erat. Enim sed enim magna eu vitae egestas mauris sit. Tristique dictum molestie consectetur mollis adipiscing id sit tempus porttitor. A pulvinar eros ultrices enim lectus. Neque tortor maecenas semper dictum mattis morbi convallis augue et.</div>
					</div>
				</div>
				<div class="row venue-container">
					<div class="col-lg-6 venue-image-container">
						<div class="img-venue" style="background-image: url('assets/images/section-image-pottery.png');"></div>
					</div>
					<div class="col-lg-6 venue-info-container">
						<div class="venue-header">banquet hall</div>
						<div class="venue-desc">Lorem ipsum dolor sit amet consectetur. Nunc pharetra quis nibh interdum. Commodo vitae sit arcu at. Nec ut mus fermentum erat. Enim sed enim magna eu vitae egestas mauris sit. Tristique dictum molestie consectetur mollis adipiscing id sit tempus porttitor. A pulvinar eros ultrices enim lectus. Neque tortor maecenas semper dictum mattis morbi convallis augue et.</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section-container venue-desc-wrapper">
			<div class="section-header">our services</div>
		
			<div class="section-body">
				<div class="venue-desc">Lorem ipsum dolor sit amet consectetur. Risus in sed id lorem. Semper mattis sed ut cras ut diam. Molestie et id egestas suspendisse gravida morbi non. Et est neque venenatis ornare faucibus viverra vehicula scelerisque feugiat. In lacinia ut pulvinar convallis auctor sit feugiat fermentum integer. Accumsan at vitae vulputate at nec. Euismod ultricies vitae in ullamcorper nulla et. At duis amet nibh pretium. Tortor mauris maecenas sed viverra vitae. Dolor dolor est tincidunt at amet. Porta nunc diam ac interdum eu et erat lacus.</div>
			
				<div class="service-item-wrapper">
					<div class="service-item-container">
						<div class="service-icon-container">
							<span class="icon-common icon-service-item icon-parking"></span>
						</div>
						<div class="service-info">
							<div>parking</div>
							<div>available</div>
						</div>
					</div>
					<div class="service-item-container">
						<div class="service-icon-container">
							<span class="icon-common icon-service-item icon-wifi"></span>
						</div>
						<div class="service-info">
							<div>free</div>
							<div>wifi</div>
						</div>
					</div>
					<div class="service-item-container">
						<div class="service-icon-container">
							<span class="icon-common icon-service-item icon-food"></span>
						</div>
						<div class="service-info">
							<div>Bring your</div>
							<div>own food</div>
						</div>
					</div>
					<div class="service-item-container">
						<div class="service-icon-container">
							<span class="icon-common icon-service-item icon-music"></span>
						</div>
						<div class="service-info">
							<div>play your</div>
							<div>own music</div>
						</div>
					</div>
					<div class="service-item-container">
						<div class="service-icon-container">
							<span class="icon-common icon-service-item icon-customize"></span>
						</div>
						<div class="service-info">
							<div>customizable</div>
							<div>to your needs</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- views end -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!-- content-wrapper ends -->
<div th:replace="website/fragment/footer"></div>
<script src="assets/js/web-enquiry.js"></script>

</body>

</html>