<div th:replace="website/fragment/head"></div>
<title>Art Rickshaw</title>
<div th:replace="website/fragment/header"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!--  views -->
<div ng-app="BookingConfirmModule" ng-controller="BookingConfirmController">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">privacy policy</li>
		</ol>
	</nav>
	<div class="view-container">
		<div class="privacy-page-container">

		</div>
 
		<div class="page-header-container">
			<div class="page-header">
				<span class="lbl-dark">pivacy</span>
				<span class="lbl-highlight">policy</span>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-content">Effective date: 2024-04-01</div>
		</div>


		<div class="section-container">
			<div class="privacy-header-primary">1. Introduction</div>
			<div class="privacy-section">
				<div class="privacy-content">Welcome to <span class="lbl-highlight">Art Rickshaw Kolkata Pvt. Ltd.</span></div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span class="lbl-bold">Art Rickshaw Kolkata Pvt. Ltd. </span>
					<span>(“us”, “we”, or “our”) operates </span>
					<span class="lbl-semi-bold"><a href="https://www.artrickshaw.in" target="_blank" class="lbl-highlight">artrickshaw.in</a> </span>
					<span>(hereinafter referred to as</span>
					<span class="lbl-bold">“Service” or “website”</span>
					<span>).</span>
				</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span>We take our customers' privacy and data security seriously. The terms outlined below govern our relationship with any User who visits our website. By visiting our website, clicking the </span>
					<span class="lbl-semi-bold">"Accept" </span>
					<span>button in the cookie banner, or by continuing to access the Service, implied or expressed consent of the user is taken. This Privacy Policy, along with our Terms and Conditions, constitutes your agreement with us.</span>
				</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span>We use your data to provide and improve Service. By using Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, the terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.</span>
				</div>
			</div>
			<div class="privacy-content">
				<span>Our Terms and Conditions </span>
				<span class="lbl-semi-bold">(“Terms”) </span>
				<span>govern all use of our Service and together with the Privacy Policy constitute your agreement with us </span>
				<span class="lbl-semi-bold">(“agreement”).</span>
			</div>
		</div>


		<div class="section-container">
			<div class="privacy-header-primary">2. Definitions</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span class="privacy-header-secondary lbl-bold">SERVICE </span>
					<span>means the artrickshaw.in website operated by Art Rickshaw Kolkata Pvt. Ltd.</span>
				</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span class="privacy-header-secondary lbl-bold">PERSONAL DATA </span>
					<span>means data about a living individual who can be identified from those data (or from those and other information either in our possession or likely to come into our possession).</span>
				</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span class="privacy-header-secondary lbl-bold">USAGE DATA </span>
					<span>is data collected automatically either generated by the use of Service or from Service infrastructure itself (for example, the duration of a page visit).</span>
				</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span class="privacy-header-secondary lbl-bold">COOKIES </span>
					<span>are small files stored on your device (computer or mobile device).</span>
				</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span class="privacy-header-secondary lbl-bold">DATA CONTROLLER </span>
					<span>means a natural or legal person who (either alone or jointly or in common with other persons) determines the purposes for which and the manner in which any personal data are, or are to be, processed. For the purpose of this Privacy Policy, we are a Data Controller of your data.</span>
				</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span class="privacy-header-secondary lbl-bold">DATA PROCESSORS (OR SERVICE PROVIDERS) </span>
					<span>means any natural or legal person who processes the data on behalf of the Data Controller. We may use the services of various Service Providers in order to process your data more effectively.</span>
				</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span class="privacy-header-secondary lbl-bold">DATA SUBJECT </span>
					<span>is any living individual who is the subject of Personal Data.</span>
				</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span class="privacy-header-secondary lbl-bold">THE USER </span>
					<span>is the individual using our Service. The User corresponds to the Data Subject, who is the subject of Personal Data.</span>
				</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">3. Information Collection and Use</div>
			<div class="privacy-section">
				<div class="privacy-content">We collect several different types of information (such as Personal Data, Usage Data, etc.) for various purposes to provide and improve our Service to you. The types of data collected by us and their usage will be strictly in accordance to clause 4 and 5 (and their sub-clauses) respectively of this Privacy Policy.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">4. Types of Data Collected</div>

			<div class="privacy-header-secondary">a. Personal Data</div>
			<div class="privacy-section">
				<div class="privacy-content">
					<span>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you </span>
					<span class="lbl-bold">(“Personal Data”). </span>
					<span>Personally identifiable information may include, but is not limited to:</span>
				</div>
			</div>
			<div class="privacy-section-sm">
				<div class="privacy-content">0.1. Email address</div>
			</div>
			<div class="privacy-section-sm">
				<div class="privacy-content">0.2. First name and last name</div>
			</div>
			<div class="privacy-section-sm">
				<div class="privacy-content">0.3. Phone number</div>
			</div>
			<div class="privacy-section-sm">
				<div class="privacy-content">0.4. Address, Country, State, Province, ZIP/Postal code, City</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">0.5. Cookies and Usage Data</div>
			</div>
			<div class="privacy-section">
				<div class="privacy-content">We may use your Personal Data to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link. Personal information provided by you while making a transaction on this website would also be used to effectively render communicate with you.</div>
			</div>

			<div class="privacy-header-secondary">b. Usage Data</div>
			<div class="privacy-content">
				<div class="privacy-section">
					<span>We may also collect information that your browser sends whenever you visit our Service or when you access Service by or through any device </span>
					<span class="lbl-bold">(“Usage Data”).</span>
				</div>
				<div class="privacy-section">This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</div>
				<div class="privacy-section">When you access Service with a device, this Usage Data may include information such as the type of device you use, your device unique ID, the IP address of your device, your device operating system, the type of Internet browser you use, unique device identifiers and other diagnostic data.</div>
			</div>

			<div class="privacy-header-secondary">c. Tracking Cookies Data</div>
			<div class="privacy-content">
				<div class="privacy-section">We use cookies and similar tracking technologies to track the activity on our Service and we hold certain information. We do not link cookies and IP addresses to your personal identity unless voluntarily provided.</div>
				<div class="privacy-section">Cookies are files with a small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Other tracking technologies are also used such as beacons, tags and scripts to collect and track information and to improve and analyze our Service.</div>
				<div class="privacy-section">You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</div>
				<div class="privacy-section">Examples of Cookies we use:</div>
				<div class="privacy-section">
					<span></span>
					<span class="lbl-bold"></span>
					<span></span>
				</div>
				<div class="privacy-section">
					<span>0.1. </span>
					<span class="lbl-bold">Session Cookies: </span>
					<span>We use Session Cookies to operate our Service.</span>
				</div>
				<div class="privacy-section">
					<span>0.2. </span>
					<span class="lbl-bold">Preference Cookies: </span>
					<span>We use Preference Cookies to remember your preferences and various settings.</span>
				</div>
				<div class="privacy-section">
					<span>0.3. </span>
					<span class="lbl-bold">Security Cookies: </span>
					<span>We use Security Cookies for security purposes.</span>
				</div>
				<div class="privacy-section">
					<span>0.4. </span>
					<span class="lbl-bold">Advertising Cookies: </span>
					<span>Advertising Cookies are used to serve you with advertisements that may be relevant to you and your interests.</span>
				</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">5. Use of Data</div>
			<div class="privacy-content">
				<div class="privacy-section">Art Rickshaw Kolkata Pvt. Ltd. uses the collected data for various purposes:</div>
				<div class="privacy-section-sm">0.1. to provide and maintain our Service;</div>
				<div class="privacy-section-sm">0.2. to notify you about changes to our Service;</div>
				<div class="privacy-section-sm">0.3. to allow you to participate in interactive features of our Service when you choose to do so;</div>
				<div class="privacy-section-sm">0.4. to provide customer support;</div>
				<div class="privacy-section-sm">0.5. to gather analysis or valuable information so that we can improve our Service;</div>
				<div class="privacy-section-sm">0.6. to monitor the usage of our Service;</div>
				<div class="privacy-section-sm">0.7. to detect, prevent and address technical issues;</div>
				<div class="privacy-section-sm">0.8. to fulfil any other purpose for which you provide it;</div>
				<div class="privacy-section-sm">0.9. to carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection;</div>
				<div class="privacy-section-sm">0.10. to provide you with notices about your account and/or subscription, including expiration and renewal notices, email-instructions, etc.;</div>
				<div class="privacy-section-sm">0.11. to provide you with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless you have opted not to receive such information;</div>
				<div class="privacy-section-sm">0.12. in any other way we may describe when you provide the information;</div>
				<div class="privacy-section-sm">0.13. for any other purpose with your consent.</div>
				<div class="privacy-section-sm">0.14. to comply with applicable laws and regulations that are in effect in all territories in which we operate</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">6. Retention of Data</div>
			<div class="privacy-content">
				<div class="privacy-section">We will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</div>
				<div class="privacy-section">We will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period, except when this data is used to strengthen the security or to improve the functionality of our Service, or we are legally obligated to retain this data for longer time periods.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">7. Transfer of Data</div>
			<div class="privacy-content">
				<div class="privacy-section">Your information, including Personal Data, may be transferred to - and maintained on - computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ from those of your jurisdiction</div>
				<div class="privacy-section">If you are located outside India and choose to provide information to us, please note that we transfer the data, including Personal Data, to India and process it there.</div>
				<div class="privacy-section">Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer. Art Rickshaw Kolkata Pvt. Ltd. cannot be held responsible in any way whatsoever for the treatment and security of your data after transfer of such data takes place to a third party. The usage of your data by such third parties will be governed by their respective privacy policies which can be accessed - VTPL (Server Host) - and Axis Bank (Payment Gateway) -</div>
				<div class="privacy-section">Art Rickshaw Kolkata Pvt. Ltd. will take all the steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information. Although all reasonable and viable steps are taken to keep your data safe and secure, no means of data storage in the internet is 100% safe, and we cannot grantee against unauthorized access to your data</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">8. Disclosure of Data</div>
			<div class="privacy-content">
				<div class="privacy-section">We may disclose personal information that we collect, or you provide:</div>
				<div class="privacy-section">
					<span>0.2. </span>
					<span class="lbl-bold">Business Transaction.</span>
				</div>
				<div class="privacy-section">If we or our subsidiaries are involved in a merger, acquisition or asset sale, your Personal Data may be transferred.</div>
				<div class="privacy-section">
					<span>0.3. </span>
					<span class="lbl-bold">Other cases. We may disclose your information also:</span>
				</div>
				<div class="privacy-section-sm">0.3.1. to our subsidiaries and affiliates</div>
				<div class="privacy-section-sm">0.3.2. to contractors, service providers, and other third parties we use to support our business;</div>
				<div class="privacy-section-sm">0.3.3. to fulfill the purpose for which you provide it;</div>
				<div class="privacy-section-sm">0.3.4. for the purpose of including your company's logo on our website;</div>
				<div class="privacy-section-sm">0.3.5. for any other purpose disclosed by us when you provide the information;</div>
				<div class="privacy-section-sm">0.3.6. with your consent in any other cases;</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">9. Security of Data</div>
			<div class="privacy-content">
				<div class="privacy-section">The security of your data is important to us but remember that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">10. Your Data Protection Rights Under General Data Protection Regulation (GDPR)</div>
			<div class="privacy-content">
				<div class="privacy-section">If you are a resident of the European Union (EU) and European Economic Area (EEA), you have certain data protection rights, covered by GDPR.</div>
				<div class="privacy-section">We aim to take reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Data.</div>
				<div class="privacy-section">If you wish to be informed what Personal Data we hold about you and if you want it to be removed from our systems, please contact us as per clause 21 of this privacy policy below.</div>
				<div class="privacy-section">In certain circumstances, you have the following data protection rights:</div>
				<div class="privacy-section">0.1. the right to access, update or to delete the information we have on you;</div>
				<div class="privacy-section">0.2. the right of rectification. You have the right to have your information rectified if that information is inaccurate or incomplete;</div>
				<div class="privacy-section">0.3. the right to object. You have the right to object to our processing of your Personal Data;</div>
				<div class="privacy-section">0.4. the right of restriction. You have the right to request that we restrict the processing of your personal information;</div>
				<div class="privacy-section">0.5. the right to data portability. You have the right to be provided with a copy of your Personal Data in a structured, machine-readable and commonly used format;</div>
				<div class="privacy-section">0.6. the right to withdraw consent. You also have the right to withdraw your consent at any time where we rely on your consent to process your personal information;</div>
				<div class="privacy-section">Please note that we may ask you to verify your identity before responding to such requests. Please note, we may not able to provide Service without some necessary data.</div>
				<div class="privacy-section">You have the right to complain to a Data Protection Authority about our collection and use of your Personal Data. For more information, please contact your local data protection authority in the European Economic Area (EEA).</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">11. Your Data Protection Rights under the California Privacy Protection Act (CalOPPA)</div>
			<div class="privacy-content">
				<div class="privacy-section">CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require a person or company in the United States (and conceivable the world) that operates websites collecting personally identifiable information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals with whom it is being shared, and to comply with this policy.</div>
				<div class="privacy-section">According to CalOPPA we agree to the following:</div>
				<div class="privacy-section">0.1. users can visit our site anonymously;</div>
				<div class="privacy-section">0.2. our Privacy Policy link includes the word “Privacy”, and can easily be found on the home page of our website;</div>
				<div class="privacy-section">0.3. users will be notified of any privacy policy changes on our Privacy Policy Page;</div>
				<div class="privacy-section">0.4. users are able to change their personal information by contacting us as per clause 21 of this privacy policy below.</div>
				<div class="privacy-section">Our Policy on “Do Not Track” Signals:</div>
				<div class="privacy-section">We honor Do Not Track signals and do not track, plant cookies, or use advertising when a Do Not Track browser mechanism is in place. Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked.</div>
				<div class="privacy-section">You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">12. Your Data Protection Rights under the California Consumer Privacy Act (CCPA)</div>
			<div class="privacy-content">
				<div class="privacy-section">If you are a California resident, you are entitled to learn what data we collect about you, ask to delete your data and not to sell (share) it. To exercise your data protection rights, you can make certain requests and ask us:</div>
				<div class="privacy-section-sm lbl-bold">0.1. What personal information we have about you. If you make this request, we will return to you:</div>
				<div class="privacy-section-sm">0.0.1. The categories of personal information we have collected about you.</div>
				<div class="privacy-section-sm">0.0.2. The categories of sources from which we collect your personal information.</div>
				<div class="privacy-section-sm">0.0.3. The business or commercial purpose for collecting or selling your personal information.</div>
				<div class="privacy-section-sm">0.0.4. The categories of third parties with whom we share personal information.</div>
				<div class="privacy-section-sm">0.0.5. The specific pieces of personal information we have collected about you.</div>
				<div class="privacy-section-sm">0.0.6. A list of categories of personal information that we have sold, along with the category of any other company we sold it to. If we have not sold your personal information, we will inform you of that fact.</div>
				<div class="privacy-section">0.0.7. A list of categories of personal information that we have disclosed for a business purpose, along with the category of any other company we shared it with.</div>
				<div class="privacy-section">Please note, you are entitled to ask us to provide you with this information up to two times in a rolling twelve-month period. When you make this request, the information provided may be limited to the personal information we collected about you in the previous 12 months.</div>
				<div class="privacy-section lbl-bold">0.2. To delete your personal information. If you make this request, we will delete the personal information we hold about you as of the date of your request from our records and direct any service providers to do the same. In some cases, deletion may be accomplished through de-identification of the information. If you choose to delete your personal information, you may not be able to use certain functions that require your personal information to operate.</div>
				<div class="privacy-section lbl-bold">0.3. To stop selling your personal information. We don't sell or rent your personal information to any third parties for any purpose. We do not sell your personal information for monetary consideration. However, under some circumstances, a transfer of personal information to a third party, or within our family of companies, without monetary consideration may be considered a “sale” under California law. You are the only owner of your Personal Data and can request disclosure or deletion at any time.</div>
				<div class="privacy-section">If you submit a request to stop selling your personal information, we will stop making such transfers.</div>
				<div class="privacy-section">Please note, if you ask us to delete or stop selling your data, it may impact your experience with us, and you may not be able to participate in certain programs or membership services which require the usage of your personal information to function. But in no circumstances, we will discriminate against you for exercising your rights.</div>
				<div class="privacy-section">To exercise your California data protection rights described above, please send your request(s) by contacting us as per clause 21 of this privacy policy below.</div>
				<div class="privacy-section">Your data protection rights, described above, are covered by the CCPA, short for the California Consumer Privacy Act. To find out more, visit the official California Legislative Information website. The CCPA took effect on 01/01/2020.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">13. Service Providers</div>
			<div class="privacy-content">
				<div class="privacy-section">
					<span>We may employ third party companies and individuals to facilitate our Service </span>
					<span class="lbl-bold">(“Service Providers”), </span>
					<span>provide Service on our behalf, perform Service-related services or assist us in analyzing how our Service is used. We use such Service Providers to effectively render the Service to you, and your data with the Service Providers is governed by their privacy policy(s). Art Rickshaw Kolkata Pvt. Ltd. cannot be held responsible under any circumstances for the manner and use of your data by Service Providers.</span>
				</div>
				<div class="privacy-section">These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">14. Analytics</div>
			<div class="privacy-content">
				<div class="privacy-section">We may use third-party Service Providers to monitor and analyze the use of our Service.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">15. CI/CD tools</div>
			<div class="privacy-content">
				<div class="privacy-section">We may use third-party Service Providers to automate the development process of our Service.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">16. Behavioral Remarketing</div>
			<div class="privacy-content">
				<div class="privacy-section">We may use remarketing services to advertise on third party websites to you after you visited our Service. We and our third-party vendors use cookies to inform, optimise and serve ads based on your past visits to our Service.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">17. Payments</div>
			<div class="privacy-content">
				<div class="privacy-section">We may provide paid products and/or services within Service. In that case, we use third-party services for payment processing. Such third parties are defined as Payment Processors.</div>
				<div class="privacy-section">We will not store or collect your payment card details. That information is provided directly to our third-party payment processors whose use of your personal information is governed by their Privacy Policy. These payment processors adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, Mastercard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of payment information.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">18. Links to Other Sites</div>
			<div class="privacy-content">
				<div class="privacy-section">Our Service may contain links to other sites that are not operated by us. If you click a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</div>
				<div class="privacy-section">We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">19. Children's Privacy</div>
			<div class="privacy-content">
				<div class="privacy-section">
					<span>Our Services are not intended for use by children under the age of 18 </span>
					<span class="lbl-bold">(“Child” or “Children”)</span>
				</div>
				<div class="privacy-section">We do not knowingly collect personally identifiable information from Children under 18. If you become aware that a Child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from Children without verification of parental consent, we take steps to remove that information from our servers within 15 days of such notice.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">20. Changes to This Privacy Policy</div>
			<div class="privacy-content">
				<div class="privacy-section">We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page, and by emailing you notifying the same.</div>
				<div class="privacy-section">We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update “effective date” at the top of this Privacy Policy.</div>
				<div class="privacy-section">You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</div>
			</div>
		</div>

		<div class="section-container">
			<div class="privacy-header-primary">21. Contact Us</div>
			<div class="privacy-content">
				<div class="privacy-section">If you have any questions about this Privacy Policy, please contact the undersigned -</div>
				<div class="privacy-section-sm">
					<div>
						<span class="lbl-bold">Name - </span>
						<span>Mr. Chaitanya Rungta</span>
					</div>
					<div>Chief Operating Officer (COO)</div>
				</div>
				<div class="privacy-section-sm">
					<span class="lbl-bold">Phone Number - </span>
					<span>+91 8335855530</span>
				</div>
				<div class="privacy-section-sm">
					<span class="lbl-bold">Address - </span>
					<span>49B Hindustan Par, Art Rickshaw Building, Kolkata, West Bengal, India. Pincode - 700029</span>
				</div>
				<div class="privacy-section-sm">
					<span class="lbl-bold">Email - </span>
					<span>info@artrickshaw.in</span>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- views end -->

<!-- content-wrapper ends -->
<div th:replace="website/fragment/footer"></div>
<script src="assets/js/booking-confirm.js" type="text/javascript"></script>

</body>

</html>