<div th:replace="website/fragment/head"></div>
<title>Art Rickshaw</title>
<div th:replace="website/fragment/header"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!--  views -->
<div ng-app="WebEnquiryModule" ng-controller="WebEnquiryController">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index">Home</a></li>
			<li class="breadcrumb-item"><a>Bookings</a></li>
			<li class="breadcrumb-item active" aria-current="page">regular classes</li>
		</ol>
	</nav>


	<div class="view-container">

		<div class="page-header-container">
			<div class="page-header">
				<span class="lbl-dark">regular</span>
				<span class="lbl-highlight">classes</span>
			</div>
			<div class="page-action-container">
				<div class="page-action search-container">
				</div>
			</div>
		</div>
		<div class="section-container">
			<div class="section-header">All regular classes</div>

			<div class="secondary-card-wrapper">
				<div class="row">


					<div class="secondary-card-container col-lg-3 col-6" ng-repeat="classes in classess | limitTo:listSize">
						<div class="secondary-card">
							<div class="secondary-card-image-container">
								<div ng-repeat="data in classes.upload | filter:{type:'listingPage'} track by $index">
									<div class="img-secondary-card secondary-card-md" style="background-image: url(upload/{{data.fileLink}});"></div>
								</div>
							</div>
							<div class="secondary-card-details-container" >
								<div class="secondary-card-details">
									<div class="secondary-card-header">{{classes.name}}</div>
									<!-- <div class="secondary-card-desc"><b>{{classes.price}}</b></div> -->
								</div>
								<div class="secondary-card-action">
									<a class="secondary-card-action-link" href="web-enquiry?classesId={{classes.id}}">
										<span class="lbl-card-action d-none d-md-block">enquire now</span>
										<span class="icon-common icon-card-action icon-arrow-right d-none d-md-block"></span>
										<span class="icon-common icon-cart d-block d-md-none"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="item-expand-link-container text-center">
						<a href="" ng-click="toggleListSize(classess)" class="btn-link btn-expand">
							<span>See More</span><span class="icon-common icon-btn-link icon-chevron"></span>
						</a>
					</div> -->
					<div ng-if="classess.length>4" class="item-expand-link-container text-center">
						<a href="" ng-if="listSize==4" ng-click="toggleListSize(classess)" class="btn-link btn-expand">
							<span>See More</span><span class="icon-common icon-btn-link icon-chevron"></span>
						</a>
						<a href="" ng-if="listSize>4" ng-click="toggleListSize(classess)" class="btn-link btn-expand">
							<span>See Less</span><span class="icon-common icon-btn-link icon-chevron icon-chevron-up"></span>
						</a>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- views end -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!-- content-wrapper ends -->
<div th:replace="website/fragment/footer"></div>

<script src="assets/js/web-enquiry.js" type="text/javascript"></script>


</body>

</html>