<div th:replace="website/fragment/head"></div>
<title>Art Rickshaw</title>
<div th:replace="website/fragment/header"></div>

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section Starts from Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!--  views -->
<div ng-app="webWorkshopModule" ng-controller="webWorkshopController">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index">Home</a></li>
			<li class="breadcrumb-item"><a>Bookings</a></li>
			<li class="breadcrumb-item active" aria-current="page">weekly special</li>
		</ol>
	</nav>


	<div class="view-container">

		<div class="page-header-container">
			<div class="page-header">
				<span class="lbl-dark">weekly</span>
				<span class="lbl-highlight">specials</span>
			</div>
			<div class="page-action-container">
				<div class="page-action search-container">
				</div>

			</div>
		</div>
		<div class="section-container">
			<div class="section-header">All Weekly Specials</div>

			<div class="secondary-card-wrapper">
				<div class="row">


					<div class="secondary-card-container col-lg-3 col-6" ng-repeat="workshop in listWorkshop">
						<div class="secondary-card">
							<div class="secondary-card-image-container">
								<div ng-repeat="data in workshop.upload | filter:{type:'listingPage'} track by $index">
									<div class="img-secondary-card secondary-card-md" style="background-image: url(upload/{{data.fileLink}});"></div>
								</div>
							</div>
							<div class="secondary-card-details-container">
								<div class="secondary-card-details">
									<div class="secondary-card-header">{{workshop.name}}</div>
									<div class="secondary-card-desc"><b>{{workshop.price}}</b></div>
								</div>
								<div class="secondary-card-action">
									<a class="secondary-card-action-link"
										href="weekly-special-booking?id={{workshop.id}}">
										<span class="lbl-card-action d-none d-md-block">buy now</span>
										<span
											class="icon-common icon-card-action icon-arrow-right d-none d-md-block"></span>
										<span class="icon-common icon-cart d-block d-md-none"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item-expand-link-container text-center">
						<a href="" class="btn-link btn-expand">
							<span>See More</span><span class="icon-common icon-btn-link icon-chevron"></span>
						</a>
					</div>
				</div>
			</div>
		</div>



	</div>

</div>
<!-- views end -->

<!-- =============================================================== -->
<!-- %%%%%%%%%%%%%%%% View section END Here %%%%%%%%%%%%%%%% -->
<!-- =============================================================== -->

<!-- content-wrapper ends -->
<div th:replace="website/fragment/footer"></div>

<script src="assets/js/webWorkshop.js" type="text/javascript"></script>
<script>
	$("#date").flatpickr({
		dateFormat: "Y-m-d",
		allowInput: true,
		disableMobile: true, // "true" should not be in quotes
		minDate: "today" // Disable all previous dates from the present date
	});
	$("#startTime").flatpickr({
		enableTime: true,
		noCalendar: true,
		dateFormat: "H:i",
		allowInput: true,
		disableMobile: true
	});
	$("#endTime").flatpickr({
		enableTime: true,
		noCalendar: true,
		dateFormat: "H:i",
		allowInput: true,
		disableMobile: true
	});
</script>

</body>

</html>