<div th:replace="fragment/head"></div>
<title>VCOMMUTE</title>
<div th:replace="fragment/header"></div>
<div>
  <div class="row">
    <div class="col-lg-7 col-md-12 col-12">
      <div class="report-container container-bg-primary report-container-lg">
        <div class="report-details-header lbl-ellipsis">Order Traffic</div>
        <!-- <div class="report-details-header">User Traffic</div>  -->
        <div class="chart-wrapper">
          <canvas id="barChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 col-12">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-12">
          <div class="report-container container-bg-secondary report-container-sm">
            <div class="row report-details-header">
              <div class="col-8">
                <div class="report-icon-wrapper">
                  <span class="report-icon-container">
                    <span class="icon-common icon-report-details icon-commute"></span>
                  </span>
                  <div class="report-details-sub-header lbl-ellipsis">Order Activity</div>
                </div>
             
              </div>
              <div class="col-4">
                <div class="lbl-status-count"></div>
              </div>
            </div>
            <div class="chart-wrapper">
              <canvas id="lineUsesChart"></canvas>
            </div>
            
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-12">
          <div class="report-container container-bg-secondary report-container-sm">
            <div class="row report-details-header">
              <div class="col-8">
                <div class="report-icon-wrapper">
                  <span class="report-icon-container">
                    <span class="icon-common icon-report-details icon-attandance"></span>
                  </span>
                  <div class="report-details-sub-header lbl-ellipsis">Shop Activity</div>
                </div>
                
              </div>
              <div class="col-4">
                <div class="lbl-status-count"></div>
              </div>
            </div>
            <!-- <div class="lbl-status-count">{{monthlyvisit.preMonthAttendance}}</div> -->
            <!-- <div class="report-details-sub-header">Attendance Activity</div> -->
            <!--		  <div ng-If="monthlyvisit.preWeekAttendance >= monthlyvisit.pastWeekAttendance">
              <h6 class="card-text"> Weekly Increased by
                {{monthlyvisit.pastWeekAttendance - monthlyvisit.preWeekAttendance}}%
              </h6>
            </div>
            <div ng-If="monthlyvisit.preWeekAttendance < monthlyvisit.pastWeekAttendance">
              <h6 class="card-text">Decrease by
                {{monthlyvisit.pastWeekAttendance - monthlyvisit.preWeekAttendance}}%
              </h6>
            </div>-->
            <div class="chart-wrapper">
              <canvas id="lineAttenChart"></canvas>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-7 col-lg-12">
      <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-6">
          <div class="report-container container-bg-secondary report-container-md">
            <div class="report-details-container">
              <div class="row report-details-header">
                <div class="col-8 lbl-ellipsis">
                  Monthly Order
                </div>
                <div class="col-4">
                  <div class="lbl-status-count"></div>
                </div>
              </div>
              <!-- <div class="lbl-status-count">{{monthlyvisit.preMonthTravel}}</div> -->
              <div class="report-details-body">
                <div class="chart-wrapper">
                  <canvas id="lineChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
          <div class="report-container container-bg-secondary report-container-md">
            <div class="report-details-container">
              <div class="row report-details-header">
                <div class="col-8 lbl-ellipsis">
                  Weekly Order
                </div>
                <div class="col-4">
                  <div class="lbl-status-count"></div>
                </div>
              </div>
              <!-- <div class="lbl-status-count">{{monthlyvisit.preWeekTravel}}</div> -->
              <div class="report-details-body">
                <div class="chart-wrapper">
                  <canvas id="weekChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-5 col-lg-12">
      <div class="report-container container-bg-standard report-container-md">
        <div class="report-details-container">
          <div class="report-details-header lbl-ellipsis">User</div>
          <div class="report-details-body">
            <div class="chart-wrapper">
              <canvas id="doughnutChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  //chart js
  const ctx = document.getElementById('barChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      datasets: [{
        data: [12, 5, 15, 10, 8, 6, 5, 12, 8, 9, 5, 10],
        borderWidth: 0,
        hoverBorderWidth: 0,
        borderRadius: Number.MAX_VALUE,
        maxBarThickness: 20,
        backgroundColor: 'rgba(243, 243, 243, 1)',
        hoverBackgroundColor: 'rgba(204, 233, 255, 1)'
      }]
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
          ///display: false, // Hide Y axis labels
          border: {
            display: false // base line
          },
          grid: {
            color: 'rgba(160, 158, 158, 0.5)'
            //drawTicks: false, //hide axis line
            // color: function (context) {
            //   var endLine = context.tick.value.length;
            //   if (context.tick.value > 0 && context.tick.value < 40) {
            //     return gray;
            //   }
            //   else if (context.tick.value > 30) {
            //     return 'transparent';
            //   }
            //   else if (context.tick.value < 0) {
            //     return gray;
            //   }

            //   return '#000000';
            // },
          },
          ticks: {
            maxTicksLimit: 8,
            display: false //this will remove only the label
            
          }
        },
        x: {
          border: {
            display: false // base line
          },
          grid: {
            display: false, //to hide vartical lines
            drawTicks: false
          },
          ticks: {
            color: 'rgba(237, 237, 237, 1)'
          }
        }
      },
      plugins: {
        legend: {
          display: false //to hide top label
        }
      }
    }
  });

  const ctx2 = document.getElementById('lineUsesChart');

  new Chart(ctx2, {
    type: 'line',
    data: {
      labels: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      datasets: [{
        data: [12, 19, 3, 5, 2, 3, 1],
        borderWidth: 1,
        //tension: 0.4, // making the line curve
        backgroundColor: '#217ABF',
        hoverBackgroundColor: '#217ABF',
        borderColor: '#217ABF',
        hoverBorderColor: '#217ABF'
      }]
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            maxTicksLimit: 8,
            display: false //this will remove only the label
          }
        },
        x: {
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            display: false //this will remove only the label
          }
        }
      },
      plugins: {
        legend: {
          display: false //to hide top label
        }
      }
    }
  });

  const ctx3 = document.getElementById('lineAttenChart');

  new Chart(ctx3, {
    type: 'line',
    data: {
      labels: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      datasets: [{
        data: [12, 19, 3, 5, 2, 3, 1],
        borderWidth: 1,
        //tension: 0.4, // making the line curve
        backgroundColor: '#217ABF',
        hoverBackgroundColor: '#217ABF',
        borderColor: '#217ABF',
        hoverBorderColor: '#217ABF'
      }]
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            maxTicksLimit: 8,
            display: false //this will remove only the label
          }
        },
        x: {
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            display: false //this will remove only the label
          }
        }
      },
      plugins: {
        legend: {
          display: false //to hide top label
        }
      }
    }
  });

  const ctx4 = document.getElementById('lineChart');

  new Chart(ctx4, {
    type: 'line',
    data: {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      datasets: [{
        data: [12, 19, 3, 5, 10, 3, 8, 2, 10, 5, 15, 2],
        borderWidth: 1,
        tension: 0.4, // making the line curve
        backgroundColor: '#217ABF',
        hoverBackgroundColor: '#217ABF',
        borderColor: '#217ABF',
        hoverBorderColor: '#217ABF'
      }]
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            maxTicksLimit: 8,
            display: false //this will remove only the label
          }
        },
        x: {
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            display: false //this will remove only the label
          }
        }
      },
      plugins: {
        legend: {
          display: false //to hide top label
        }
      }
    }
  });

  const ctx5 = document.getElementById('weekChart');

  new Chart(ctx5, {
    type: 'line',
    data: {
      labels: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      datasets: [{
        data: [12, 19, 3, 5, 2, 3, 1],
        borderWidth: 1,
        tension: 0.4, // making the line curve
        backgroundColor: '#217ABF',
        hoverBackgroundColor: '#217ABF',
        borderColor: '#217ABF',
        hoverBorderColor: '#217ABF'
      }]
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            maxTicksLimit: 8,
            display: false //this will remove only the label
          }
        },
        x: {
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            display: false //this will remove only the label
          }
        }
      },
      plugins: {
        legend: {
          display: false //to hide top label
        }
      }
    }
  });

  const ctx6 = document.getElementById('doughnutChart');

  new Chart(ctx6, {
    type: 'doughnut',
    data: {
      labels: ['Admin', 'Shop', 'Mobile User'],
      datasets: [{
        data: [100, 10, 20],
        backgroundColor: [
              '#1B72B0',
              '#45A9F1',
              '#1FBBA8',
            ],
        borderWidth: 0,
        maxBarThickness: 25
      }]
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true,
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            maxTicksLimit: 8,
            display: false //this will remove only the label
          }
        },
        x: {
          border: {
            display: false // base line
          },
          grid: {
            display: false
          },
          ticks: {
            display: false //this will remove only the label
          }
        }

      },
      plugins: {
        legend: {
               position: 'right',
          width: 'auto',
          labels: {
                    boxWidth: 15,
            padding: 10
                }
        }
      }
    }
  });
</script>

<!-- content-wrapper ends -->
<div th:replace="fragment/footer"></div>